[2017-12-21 01:20] falquaddoomi commented on #512
Commit f31f8daa4779455c69f8f2b3b7e8d095c0187f44 introduces (hopefully?) properly-formatted fields to the reports section. Fields that have no registered display label are displayed as "?:<field>", which causes the column to overflow for particularly long ones, but there shouldn't be any of these left when the feature is completed.

Other things that remain to be done:

- Determining where to find

[2017-12-28 02:10] zfisch commented on #654
Nice find @amycoffin!

This is an interesting issue that stems from our use of localstorage. What's happening is when a user changes modes on one tab, it updates localstorage to reflect the change. The change to localstorage persists to other tabs, but we don't currently update the view based on real time changes to localstorage (mode is initiated when the webpage first loads, but currently doesn'

[2018-01-02 18:22] zfisch opened #691 "get remaining fields from clinvar for report tiles"
star rating, date?, any others?

[2018-01-02 20:47] zfisch commented on #691
turns out the star rating is determined by the review status, which we already collect. we also already have the date.

@melissacline are there any other fields that we don't already collect that people want?

[2018-01-03 00:06] zfisch commented on #654
@melissacline checking in on this issue

[2018-01-04 00:57] melissacline commented on #654
Thanks for checking!  The option that makes the most sense to me is 1, that when a user makes a change in one tab, that change is reflected in other tabs.  I'm grateful that it's the easier one.

[2018-01-04 01:00] melissacline commented on #655
The "Protein Identifier" should be the portion before the colon in the pyhgvs_Protein field.  For example, given a pyhgvs_Protein string of NP_000050.2:p.?, the Protein Identifier should be NP_000050.2.

[2018-01-04 01:07] melissacline commented on #272
@cmarkello where does this stand?  Is this part of the fix that you made as part of last month's release, or is it a separate issue?  Thanks!

[2018-01-04 01:10] melissacline commented on #662
@zfisch What's the pathname of your script?

[2018-01-04 01:14] melissacline commented on #657
The README is now in the release tarball, as of December.

[2018-01-04 01:14] #657 closed

[2018-01-04 01:20] melissacline commented on #683
Looking at Amy's sandbox at http://104.210.44.242:8080/, the functionality is there but the FAQ (and the help page, for that matter) could use some styling.  @falquaddoomi would you take a look?

[2018-01-04 01:21] melissacline commented on #630
@izcram @zfisch Where does this stand?

[2018-01-04 01:23] melissacline commented on #672
@cmarkello @zfisch Is this issue still being worked on?

[2018-01-04 01:24] melissacline commented on #618
Yes, that was resolved in the September release

[2018-01-04 01:24] #618 closed

[2018-01-04 01:26] melissacline commented on #571
Chloe is working on testing literature searching, but set it aside to focus on the priors.

[2018-01-04 01:28] melissacline commented on #513
Merging this into #571

[2018-01-04 01:28] #513 closed

[2018-01-04 01:28] melissacline commented on #442
@zfisch is this done?

[2018-01-04 01:29] melissacline commented on #399
@zfisch has this been done?

[2018-01-04 01:29] #363 closed

[2018-01-04 01:30] melissacline commented on #359
@zfisch where are we on this?

[2018-01-04 01:31] melissacline commented on #357
@zfisch is this still open?

[2018-01-04 01:36] melissacline commented on #324
This is an issue, but it's a small issue that really arises from the representation of data in one database.

[2018-01-04 01:36] #324 closed

[2018-01-04 01:39] melissacline commented on #587
This appears to be working now.  I'm closing the issue until someone brings it up again.

[2018-01-04 01:39] #587 closed

[2018-01-04 01:49] melissacline commented on #555
Tested on 1/3/18 on Chrome.  Has not fixed itself, sadly.

[2018-01-04 01:50] melissacline commented on #5
Not happening...

[2018-01-04 01:50] #5 closed

[2018-01-04 01:51] #9 closed

[2018-01-04 01:52] #14 closed

[2018-01-04 01:53] melissacline commented on #67
This is an enhancement that hasn't been getting any demand.

[2018-01-04 01:53] #67 closed

[2018-01-04 01:55] melissacline commented on #74
@strbean @izcram @zfisch : is this still an issue or should we close it?

[2018-01-04 02:02] melissacline commented on #81
If we can detect that people are running on mobile devices, we can redirect them to the mobile app.

[2018-01-04 02:02] #81 closed

[2018-01-04 02:02] melissacline commented on #82
@strbean is this still the case?

[2018-01-04 02:03] melissacline commented on #83
No one has raised this issue for a year now.

[2018-01-04 02:03] #83 closed

[2018-01-04 02:05] melissacline commented on #84
We might benefit from a more general sign-in, but this has been in place for over a year with no further arguments.

[2018-01-04 02:05] #84 closed

[2018-01-04 02:05] melissacline commented on #85
Everyone loves the map.

[2018-01-04 02:05] #85 closed

[2018-01-04 02:06] melissacline commented on #101
Being updated.

[2018-01-04 02:06] #101 closed

[2018-01-04 02:06] melissacline commented on #89
Not a high enough priority

[2018-01-04 02:06] #89 closed

[2018-01-04 02:07] melissacline commented on #88
Not enough demand...

[2018-01-04 02:07] #88 closed

[2018-01-04 02:08] melissacline commented on #87
There's not enough demand to fix this.

[2018-01-04 02:08] #87 closed

[2018-01-04 02:09] melissacline commented on #86
There's not enough demand for this fix.

[2018-01-04 02:09] #86 closed

[2018-01-04 02:10] melissacline commented on #104
There hasn't been enough demand to address this.

[2018-01-04 02:10] #104 closed

[2018-01-04 02:11] melissacline commented on #106
@strbean would you address this?

[2018-01-04 02:11] melissacline commented on #120
We can revisit this in the future, as the demand comes up.

[2018-01-04 02:11] #120 closed

[2018-01-04 02:12] melissacline commented on #121
There's not enough demand to address this right now.

[2018-01-04 02:12] #121 closed

[2018-01-04 02:14] melissacline commented on #73
Duplicate of #128

[2018-01-04 02:14] #73 closed

[2018-01-04 02:14] melissacline commented on #147
Done.

[2018-01-04 02:14] #147 closed

[2018-01-04 02:18] melissacline commented on #163
Amy, here's some old feedback.  Would you mark it down for the next round of changes to the Help text?

[2018-01-04 02:19] melissacline commented on #173
@zfisch How does the API handle older versions of updated variants?

[2018-01-04 02:19] #177 closed

[2018-01-04 02:21] melissacline commented on #192
This has been fixed.

[2018-01-04 02:21] #192 closed

[2018-01-04 02:22] melissacline commented on #200
Amy Coffin has done this.

[2018-01-04 02:22] #200 closed

[2018-01-04 02:22] #204 closed

[2018-01-04 02:23] melissacline commented on #215
We've run the search specification past the EGG.

[2018-01-04 02:23] #215 closed

[2018-01-04 02:23] melissacline commented on #227
@zfisch What should be done with this issue?

[2018-01-04 02:24] melissacline commented on #411
We've now got the standard that a change in coordinate is an insertion and a deletion.

[2018-01-04 02:25] #411 closed

[2018-01-04 02:25] melissacline commented on #389
@zfisch What do you think of this?

[2018-01-04 02:27] melissacline commented on #424
The pipeline is working fine, even with this simplification.

[2018-01-04 02:27] #424 closed

[2018-01-04 02:37] melissacline commented on #472
This works fine now!

[2018-01-04 02:37] #472 closed

[2018-01-04 02:38] melissacline commented on #497
This has been done.

[2018-01-04 02:38] #497 closed

[2018-01-04 02:43] melissacline commented on #468
@zfisch Is this still an issue?  The variant in question now appears on the site.  According to version history, it's been there since Nov 2016, and was updated in May and October 2016.

[2018-01-04 02:43] #468 closed

[2018-01-04 02:51] melissacline commented on #691
Yes, people want more of the aliases in ClinVar.  For example, for the BRCA2 variant c.-196G>A, our list of synonyms are U43746.1:c.32G>A.  In ClinVar (see https://www.ncbi.nlm.nih.gov/clinvar/variation/434530/), the HGVS synonyms for this variant are:

NG_012772.3:g.5032G>A
NM_000059.3:c.-196G>A
NC_000013.11:g.32315511G>A (GRCh38)
LRG_293t1:c.-196G>A
NC_000013.10:g.32889648G>A (GRCh37)
LRG_293:g.

[2018-01-04 23:34] falquaddoomi commented on #683
@melissacline Sure thing. Am I correct in thinking that this work is in the 'faq' branch? If so, I'll go ahead and branch from it, make some edits, and submit a pull request.

[2018-01-05 00:22] melissacline commented on #683
Thanks, Faisal!  @zfisch just to verify, is this the faq branch?  @amycoffin here's a heads-up that your faq and help pages are about to get some styling.

[2018-01-05 00:41] amycoffin commented on #163
Will do! I will check with you once its done to make sure I understood correctly.

[2018-01-05 00:41] #163 closed

[2018-01-05 01:00] zfisch commented on #683
@falquaddoomi @melissacline yep!

[2018-01-09 19:25] zfisch commented on #512
@melissacline @falquaddoomi

We should figure out how to handle links to the help page -- as faisal pointed out to me, each field in the per submission tiles links to the top of the help page but the field may not be included anywhere on the help page. Additionally the per submission tiles are the only tiles without question mark links in the upper right corner of the tile.

A couple options:

1.

[2018-01-09 22:54] melissacline commented on #512
My leaning is toward Option 3.  Amy has the first cut of the help pages in good shape for the expert-reviewed portal, and it's a good time for her to start looking at the all public data portal (which the GCs will be using frequently, so her focus groups would apply well here).  When I talk to her tomorrow, we'll talk about starting to do this.

[2018-01-10 08:16] zfisch opened #696 "adjust export_data_for_genome_browser.sh to handle relative paths"
Throws an error given a relative path:

pipeline@brcaexchange-pipeline:~/pipeline_dev_zack/brca-exchange$ sudo ./pipeline/genomeBrowserTrack/export_data_for_genome_browser.sh ../../monthly_releases/data_release_2017-12-19/brca_out/release-12-19-17.tar.gz
tar (child): ../../monthly_releases/data_release_2017-12-19/brca_out/release-12-19-17.tar.gz: Cannot open: No such file or directory
tar (child):

[2018-01-10 08:27] zfisch opened #697 "use a display id instead of auto incremented id for data release"
currently the portal displays the release id directly from datarelease.id. we should use some other value to display to avoid any discrepencies between the internal sequence id and the user facing value.

see the previous releases page and urls with release ids for reference.

[2018-01-12 20:40] zfisch commented on #671
@melissacline checking in on this issue -- it seems like we left off at a place where we're deciding whether to exclude BIC variants not found in clinvar from the BIC dataset. Charlie pointed out that if we do this it makes the BIC dataset redundant -- how would you like us to proceed?

[2018-01-16 18:19] zfisch commented on #671
@cmarkello

Note: on a recent call we discussed that there are potentially good variants in BIC that are not in ClinVar, so we shouldn't filter out any variants not found in ClinVar.

We'll need to use another method to determine which variants should or shouldn't be filtered out of BIC.

[2018-01-16 18:52] cmarkello commented on #671
@zfisch
I'm on the call so I heard a little bit of the conversation. I took a quick look at my notes again to jog my memory. So the problem is that a lot of the variants that are in BIC but not in ClinVar have those conflicting HGVS variants. After checking with the UCSC genome browser it definitely looks like the more modern transcript HGVS representations are the more accurate versions of those

[2018-01-17 02:45] zfisch opened #700 "speed up calcVarPriors tests"
I've noticed that pipeline/splicing/test_calcVarPriors.py takes a while to run (about a full minute). is there a reason it takes this long or can you think of some ways to speed it up? ideally it should only take a few seconds

[2018-01-17 19:45] #697 closed

[2018-01-18 15:31] melissacline commented on #500
Closing, to be addressed by Amy as part of a larger help reorg.

[2018-01-18 15:31] #500 closed

[2018-01-18 15:32] melissacline commented on #676
Closing until we're in a position to address this concretely.

[2018-01-18 15:32] #676 closed

[2018-01-18 15:35] melissacline commented on #514
This was a request to go over the site and generally tweak the CSS. The most pressing aspects have been done.

[2018-01-18 15:35] #514 closed

[2018-01-19 00:01] melissacline commented on #518
This seems to be working now.

[2018-01-19 00:01] #518 closed

[2018-01-19 00:02] melissacline commented on #517
This now returns a 404.

[2018-01-19 00:02] #517 closed

[2018-01-19 00:07] melissacline commented on #471
This works now.  About six months ago, Zack cleaned up the field selection to make consistent use of the cookies when selecting columns for display and displaying the selected columns

[2018-01-19 00:07] #471 closed

[2018-01-19 00:21] melissacline commented on #457
@zfisch What is the issue here?  Is it still an issue?

[2018-01-19 00:23] melissacline commented on #448
We'll be revamping all of this once Chloe's literature search results are in place.

[2018-01-19 00:23] #448 closed

[2018-01-19 00:25] melissacline commented on #260
Closing until we get further demand for this...

[2018-01-19 00:25] #260 closed

[2018-01-19 00:27] melissacline commented on #224
@zfisch is this still the case?  If so, how'd you like to address this for Feb 2018?

[2018-01-19 00:27] #337 closed

[2018-01-19 00:29] melissacline commented on #63
With the mobile app, small display issues with react-bootstrap are less of a priority, and not worth hacking around.

[2018-01-19 00:29] #63 closed

[2018-01-19 00:32] melissacline commented on #672
@cmarkello Is this part of #671  or is it a separate issue?

[2018-01-19 00:43] cmarkello commented on #672
@melissacline This issue was resolved and the branch was merged. I must have forgotten that I had left this issue open. Permission to close?

[2018-01-19 01:10] #672 closed

[2018-01-21 16:25] melissacline opened #704 "Update About This Site to include Mandy and Michael"
Please change the content of the About This Site page to include Michael and Mandy, as shown in the last sentence here:

The BRCA Exchange website is a product of the BRCA Challenge of the Global Alliance for Genomics and Health. The web site and underlying database were developed by Molly Zhang, Charles Markello, Mary Goldman, Brian Craft, Zack Fischmann, Joe Thomas, David Haussler, Melissa Cline

[2018-01-22 14:40] rgliao commented on #704
Small grammar edit:

"...with input and feedback from Amanda Spurdle and Michael Parsons at
QIMR..."

instead of

"....with input and feedback from Amanda Spurdle, Michael Parsons at
QIMR..."

otherwise looks good

On Sun, Jan 21, 2018 at 11:25 AM, melissacline <notifications@github.com>
wrote:

--
*Rachel G. Liao*, PhD
Manager for the BRCA Challenge and Cancer Projects
Global Alliance for Genomic

[2018-01-22 22:07] zfisch opened #705 "upgrade jquery to resolve security issue"

[2018-01-22 22:24] zfisch commented on #704
should this include Marc Zimmerman at ETH as well?

[2018-01-22 22:26] rgliao commented on #704
yes!! good catch

On Mon, Jan 22, 2018 at 5:24 PM, Zack Fischmann <notifications@github.com>
wrote:

--
*Rachel G. Liao*, PhD
Manager for the BRCA Challenge and Cancer Projects
Global Alliance for Genomics and Health

rachel.liao@ga4gh.org
T: 617.714.7557
www.genomicsandhealth.org

[2018-01-22 23:04] #705 closed

[2018-01-22 23:05] #704 closed

[2018-01-23 02:04] zfisch opened #709 "Integrate Chloe’s notes into readme"
https://docs.google.com/document/d/1W7E4YJqp3NK9C_eKBbiNAS78C-WmueQx7iu9iO-5Uy4/edit?usp=sharing

[2018-01-24 20:17] amycoffin opened #712 "Styling, help.md/help_research.md"
There are text-size issues with sub-bullet lists in help.md and help_research.md. They are under Variant Nomenclature Tile> HGVS Nomenclature. These versions of the markdown can be found in my FAQ branch that is going to beta soon. For some reason, the text is larger than it should be. It might be due to the css not having integrated that level of bullets before.

[2018-01-24 20:56] melissacline commented on #709
Nice!  Thank you, @ccdlott !

[2018-01-24 21:01] melissacline commented on #512
Just to follow up, it will probably be a few weeks before Amy can get to this.  So if it's not too late to do #2 for now, let's do that now and plan that Amy will do a more comprehensive update in a month or so.

[2018-01-24 21:03] zfisch commented on #512
@falquaddoomi Will you have time to implement this?

[2018-01-25 00:39] zfisch commented on #712
There is currently nothing on the FAQ branch or master for me to make styling changes to. Please make a PR once your changes are ready and after they're merged I can make any styling updates.

[2018-01-25 09:58] falquaddoomi commented on #512
Sure thing. So far I've added an extra prop to the per-report meta, "helpKey", that explicitly specifies which ID to scroll to when the field label is clicked. If "helpKey" unspecified, then the field label renders without an underline and help icon on hover.

I've noticed on attempting to hook up the fields that there are multiple help entries with the same ID, e.g. "Clinical Significance (ClinVa

[2018-01-25 19:41] melissacline commented on #512
Looking at Help on production, I see what you're talking about with Column Groups, which seems outdated.  I don't remember what that was supposed to be.  It's going away with Amy's new documentation.  We'll still have to link up the IDs in her documentation, but at least the multiple mapping problem is going away.

[2018-01-27 02:19] melissacline commented on #667
Nice!

[2018-01-27 02:27] melissacline commented on #654
Just verified as follows:
- opened a tab to brcaexchange.cloudapp.net.  Searched for a random variant (p.(Leu358CysfsTer16)) in Expert-Reviewed mode.
- opened another tab to brcaexchange.cloudapp.net.  Went into All Public Data mode.  Searched for the same variant.
- Went back to the first tab and reloaded the page.  Voila, it's in All Public Data mode.

[2018-01-27 02:32] melissacline commented on #673
@zfisch could you verify that this fix has been made?  Just to be formal here...

[2018-01-27 02:33] melissacline commented on #630
@zfisch @izcram I see that this issue is marked as Ready for QA.  Can it be closed, or is it still in process?  Thanks!

[2018-01-29 21:35] zfisch commented on #630
This is complete!

[2018-01-29 21:36] zfisch commented on #673
@melissacline Yep, this has been resolved :)

[2018-01-30 18:18] zfisch opened #716 "revert APDP help to current state in production"

[2018-01-30 18:18] zfisch opened #717 "update help pages"
implement changes mentioned during dev call

[2018-01-30 18:26] falquaddoomi opened #718 "navigation items wrap to a second line when below 1200px width"
As of d722d147ea8638b08f28d7a984b3b3e727ad52eb, navigation items in the header wrap to a second line when the viewport drops below 1200px width, and persist (despite the navbar branding changing layout) until 768px, when the navigation items collapse into a dropdown menu.

[2018-01-30 18:27] falquaddoomi commented on #718
This is probably a result of adding the "FAQ" item to the navbar.

[2018-01-30 18:30] zfisch commented on #718
Nice find, think you can put in a PR for a fix in the next day? If not I can take care of it, but want to get it before release.

[2018-01-30 18:31] falquaddoomi commented on #718
Sure thing; I'll work on it tomorrow morning and hopefully have a fix within an hour or two.

[2018-01-31 09:15] izcram commented on #661
Cannot reproduce. Is this still an issue with the current version?

[2018-01-31 09:48] izcram commented on #663
Current status: To better test those ansible scripts and also to facilitate the creation of a local development environment, I'm working on adding the possibility to easily create a local virtual machine using vagrant. On the way, I've found some small details regarding apache modules which were out of sync with the ansible scripts (some apache config has most likely been tweaked manually).
PR of

[2018-02-02 19:31] zfisch opened #722 "Fix page extending beyond borders on small screens"
I'm noticing the same behavior on the Variant Details page of the production site (http://brcaexchange.org/variant/68606) using an iPhone 8 preset w/Chrome's mobile view. It looks to me like the version history table is stretching out the page; it's 544px whereas the viewport is 375px. Part of the problem is that the date column doesn't wrap (my error, introduced a while ago when we were fixing up

[2018-02-02 19:36] falquaddoomi opened #723 "narrow viewports cause some pages to horizontally overflow"
The Variant Search and Details pages contain elements that have a minimum width that's larger than some common mobile device resolutions. When these pages are viewed on narrow viewports, it causes the page to overflow the edge of the screen, obscuring the menu button until the user scrolls over to bring it into view.

[2018-02-02 19:43] #723 closed

[2018-02-02 19:44] falquaddoomi commented on #723
Accidentally duplicated #722 shortly after it was created.

[2018-02-03 08:11] falquaddoomi commented on #722
Fixed in #724.

[2018-02-03 08:11] #722 closed

[2018-02-03 08:12] falquaddoomi commented on #718
Fixed in PR #720.

[2018-02-03 08:12] #718 closed

[2018-02-06 02:19] zfisch commented on #661
also can't reproduce... closing.

[2018-02-06 02:19] #661 closed

[2018-02-06 02:23] zfisch commented on #696
@izcram checking in on this issue

[2018-02-06 02:24] zfisch commented on #666
@izcram checking in on this issue

[2018-02-06 09:29] izcram commented on #696
@zfisch should be resolved by 6d3f104

[2018-02-07 17:06] #717 closed

[2018-02-07 17:06] #712 closed

[2018-02-12 20:16] #700 closed

[2018-02-12 20:20] zfisch commented on #442
@melissacline we currently don't run diffs against reports -- is this something we still want to do?

[2018-02-13 00:49] melissacline commented on #442
Yes.  If there's any data in the reports that's not in the summary view, we want to run diffs on that as well.  We should indicate, in the diff:
- if  there are any new reports,
- If the data inside a report has changed
- if any report has been deleted
The tricky thing is that the diff data on the reports will overlap with the summary level diff data.  But in the extreme, it's better if we show re

[2018-02-13 01:52] zfisch commented on #442
Gotcha, will get started.

[2018-02-13 18:48] zfisch opened #735 "mupit integration"
use 4 thumbnails to cover different types of variants, display accordingly when a user views the variant detail page. use api call to mupit to determine if a mupit display is relevant.

link the thumbnail to mupit for a more in-depth visualization.

[2018-02-14 20:08] amycoffin opened #736 "Mozilla Firefox: FAQ Functionality Broken"
I just got an email from a friend who I sent the brcaexchange.org link to, and he told me that the FAQs are not clickable on his Firefox browser. The menu link works, but he cannot click the questions individually.

[2018-02-14 21:46] #736 closed

[2018-02-14 21:48] zfisch commented on #736
good catch! I just pushed up a fix to master that's now available on my dev server at http://brcaexchange-dev.cloudapp.net:9002/faq

It won't be available on production until after the next deployment.

[2018-02-15 12:06] jeffallen opened #738 "HTTPS website"
Given that searches on this website show that the user is potentially concerned about their health status, it would be better if intermediaries could not see which variations they are searching on.

A very simple way to add HTTPS to a website is to use Cloudflare as a reverse proxy. You might contact them and find out if your usage level qualifies you for their free tier.

[2018-02-15 18:24] zfisch commented on #442
@melissacline do we care about all reports or only clinvar and lovd in regards to versioning?

I ask because reports from some sources will be difficult to track between releases because they have no unique values, e.g.:

[code]

Notice that the only unique value between these two reports is the BX_ID, which is internal and only meaningful in a specific release for the purpose of detecting discard

[2018-02-20 17:14] amycoffin opened #739 "Variant Marked Not Reviewed in BRCA Exchange, ENIGMA marked Pathogenic"
A genetic counselor mentioned a problem with an ENIGMA-marked Pathogenic variant that are Not Yet Reviewed in BRCA Exchange

[2018-02-26 23:59] melissacline commented on #735
See the wireframes at https://docs.google.com/presentation/d/1tVXcBpoSzSTQhg1kJwifK2kwVeNy7VWzdknWPSYZyNY/edit?usp=sharing.

[2018-03-02 20:49] amycoffin opened #742 "JS needed: What Makes BRCA Exchange different from other public databases?"
We need to update the FAQ javascript to add this question to the FAQ. Please start a docsRound2 branch for me to eventually checkout and update per EGG comments.

[2018-03-02 20:59] amycoffin commented on #742
I can't upload a markdown file, so here is a .txt file with the markdown in it. I want to add links and such, but we can use this as a starting point even though it is unformatted.
[what-makes-brca-exchnage-different-from-other-public-databases.txt](https://github.com/BRCAChallenge/brca-exchange/files/1776558/what-makes-brca-exchnage-different-from-other-public-databases.txt)

[2018-03-02 21:12] amycoffin opened #743 "Documentation needs to be cross-linked throughout site"
This might be a low-priority issue, but eventually we need to address properly linking terms throughout the website, such as on the variant details page, to documentation about those terms

[2018-03-03 01:06] #742 closed

[2018-03-09 21:07] amycoffin opened #744 "Facts and Stats Changes per Mandy as of 3/6"
- update Berghofer Medical research institute to read "QIMR Berghofer Medical Research Institute"

- change "However, when either of these genes are altered by a variation in the gene sequence," to
"However, when the function of either of these genes is significantly altered by a variation in the gene sequence," (point is not all variation will lead to risk)

[2018-03-12 17:02] #682 closed

[2018-03-12 18:25] rgliao commented on #744
Why is the change being made to remove the sentence referencing the outcomes from the Paris meeting? This doesn't seem necessary to me.

[2018-03-12 19:35] amycoffin commented on #744
Mandy asked that we update it in an email about a few different pages.

[2018-03-12 20:06] rgliao commented on #744
I would rather we didn't add/remove specific content without a more formal review, given this was developed with a fair amount of review and oversight. It's fine to update the affiliation, reword for clarity, etc. You can feel free to forward or add me to any emails if that would be helpful.

[2018-03-12 20:10] amycoffin commented on #744
That makes total sense. For some reason I thought you were copied on that email, and assumed that no comments meant the changes were not significant. I'll definitely make sure you are copied on future emails, and we won't change this for now.

[2018-03-13 17:00] zfisch commented on #666
@izcram what's the status on this?

[2018-03-13 17:01] zfisch commented on #663
@izcram what's the status on this?

[2018-03-13 17:27] zfisch opened #746 "get clinvar report diff information separate from LOVD report diff information"

[2018-03-14 14:07] izcram commented on #663
there is a PR pending here https://github.com/BRCAChallenge/brca-configuration/pull/2 . once I get some feedback there I'll attempt to run it on a dev machine and then on prod

[2018-03-14 14:14] izcram commented on #666
I think this is resolved. Starting with the February 2018 release we tag the corresponding git commit used with 'data_release_%y_%M_%d'. Also the docker image gets published to dockerhub since then.

[2018-03-16 20:43] amycoffin opened #747 "Update FAQ: what-makes-brca-exchange-different-from-other-public-databases.md"
Below is the .txt file that contains the updated content in markdown format for the what-makes-brca-exchange-different-from-other-public-databases.md file. It has changes made by EGG members (Mandy), and contains hyperlinks to [ClinVar](https://www.ncbi.nlm.nih.gov/clinvar/), [LOVD](http://www.lovd.nl/3.0/home), and [ExUV](http://hci-exlovd.hci.utah.edu/home.php). The BRCA1/BRCA2 genes are italici

[2018-03-19 18:55] zfisch opened #749 "contact synapse about a team account"

[2018-03-20 00:10] zfisch commented on #744
@amycoffin what is the status on this ticket? What updates need to be made and what updates are being omitted following this conversation?

[2018-03-20 00:10] #666 closed

[2018-03-20 02:25] amycoffin commented on #744
The changes have already been omitted and it is ready.

[2018-03-20 17:28] zfisch commented on #691
@izcram this ticket could probably be resolved when refactoring the enigma pipeline since it's just additional fields from the clinvar xml source file

[2018-03-21 20:19] #683 closed

[2018-03-21 20:19] #272 closed

[2018-03-21 20:20] #654 closed

[2018-03-21 20:20] #662 closed

[2018-03-21 20:20] #658 closed

[2018-03-21 20:41] #655 closed

[2018-03-21 20:44] #667 closed

[2018-03-21 20:58] melissacline opened #752 "Refactor the display of the allele frequency data with subtiles"
We talked a couple months ago about reorganizing the allele frequency tile, using subtiles.  That's ready for implementation anytime.  The wireframes are at https://docs.google.com/presentation/d/16XxYNfd78LKFq8Aa_cQRAUhMZt54MASHC5hnVkqlvN4/edit?usp=sharing.  The ExAC graphs should be open by default, but nothing else.  This is not high priority, but it will be nice to get done whenever there's ti

[2018-03-26 20:40] amycoffin opened #755 "Make Blue Icon Clickable to Switch Views"
Melissa and I have discussed making the blue button at the top of BRCA Exchange clickable to change data views. Everyone I have mentioned this functionality to agrees with and likes this idea, often having the experience of unsuccessfully attempting to use the icon in this way.

[2018-03-26 20:56] amycoffin opened #756 "Column Selectors for Clinical Signficance (LOVD) and (ClinVar): Functionality and Documentation"
When clicking "Show Column Selectors" on the Variant Page, there are two tiles that have no selectors: Clinical Significance (ClinVar) and Clinical Significance (LOVD). These tiles correspond with recently updated variant details tiles.

Once the selectors are fixed, we should update the All Public Data Help Page to reflect the column selectors accurately. Furthermore, the documentation about the

[2018-03-27 00:11] melissacline commented on #756
@amycoffin I'd like to prioritize those two tiles for the next round of documentation, after the one that goes to the EGG next week.

[2018-03-27 00:13] melissacline commented on #755
If we add even another word to the title, even to make it consistent, we'll get into the debate about what to call these things.  But with that said, let's go ahead and add that toggle, without touching the wording for now.

[2018-03-27 00:15] melissacline commented on #357
@zfisch I feel like this issue has been addressed by your unit tests.  Can I close it, or does this represent something different to you?

[2018-03-27 20:15] amycoffin commented on #756
@melissacline Makes sense. Should we talk about what needs to be documented at next week's 1-on-1? (Basically one of those meetings where I take notes on our conversation and use it as a starting point for a draft that goes for internal review). We may also want to discuss how to balance this DocDev with the priors DocDev, biting off appropriately sized pieces on each.

[2018-03-28 05:37] melissacline commented on #756
Amy, let's focus on the general docdev for now, and not worry about the
priors just yet.

On Tue, Mar 27, 2018 at 4:25 PM, Amy Coffin <notifications@github.com>
wrote:

[2018-04-02 22:47] melissacline opened #759 "Explore ENIGMA variant with no ClinVar link"
http://brcaexchange.org/variant/32294

[2018-04-02 22:53] amycoffin opened #760 "BIC Column Selectors Out of Date"
The following Column Selectors need to be removed for BIC:
- Clinical Significance
- Clinical Importance

[2018-04-02 23:09] zfisch opened #761 "display updates for report diffs"
Where it says "Previous Versions of this Submission:", make that ""Previous Versions of this Submission (since April XX, 2018):".
And in the title piece, where it says "ClinVar Submission: SCV000403034", let's include the submitter and clinical significance, to mirror what's on the title of the ClinVar subtile.  The subtile also has date last updated, but I feel like that will be addressed with th

[2018-04-02 23:24] amycoffin opened #762 "NP Identifier in Expert Reviewed, NOT in APD"
The NP number is present in the Expert Reviewed Variant Details page, but is not in All Public Data. If I recall, we had a discussion about NP numbers, and the decision to remove was intentional. I do not remember the problem.

[2018-04-03 17:32] zfisch opened #763 "hide march report diffs (only show diffs beginning in april)"
main reason is to prevent spamming people with date last updated changes

[2018-04-03 19:24] zfisch opened #764 "ensure config.js is set to correct environment"
config.js environment property should be set to beta for all environments except production. this can be handled in the brca-configuration repo

[2018-04-03 19:35] zfisch commented on #764
@izcram could you take this on?

inside of js/config.js there is an "environment" property that should be set to "beta" for non production versions of the site. that property can be used for many things, but currently determines whether or not to show a big red banner at the top of the screen that tells users that they're not looking at the production website. for reference, see the `isBeta` state

[2018-04-03 21:35] melissacline commented on #760
I remember the discussion now.  We made a conscious decision to remove these fields in the variant details page.  The fields were never removed from the variants page.  @zfisch would you get someone to remove these two fields from the Variants table, and from the Column Selectors menu?

[2018-04-03 21:36] melissacline commented on #752
OK, the wireframes are ready for implementation.  Here they are: https://docs.google.com/presentation/d/16XxYNfd78LKFq8Aa_cQRAUhMZt54MASHC5hnVkqlvN4/edit?usp=sharing

[2018-04-03 22:09] melissacline commented on #716
@zfisch Is this ready to be closed?

[2018-04-03 22:09] #673 closed

[2018-04-03 22:10] melissacline commented on #696
@izcram can this issue be closed now?

[2018-04-03 22:11] #630 closed

[2018-04-03 22:16] zfisch commented on #716
yep!

[2018-04-03 22:16] #716 closed

[2018-04-04 15:07] izcram commented on #764
might already have been fixed here: https://github.com/BRCAChallenge/brca-configuration/pull/2
As far as I recall, I needed to rename the variable `environment` to `environment_name` as the former was messing with ansible.
If after the PR merge it still persists, I'll have a look at it.

[2018-04-04 15:09] izcram commented on #696
From my point of view yes

[2018-04-04 15:09] #696 closed

[2018-04-04 23:13] zfisch commented on #764
ah yes, I'd forgotten about this -- I just sent you a message on slack regarding continued trouble running `vagrant up` -- let's see if we can get this sorted out and merged

[2018-04-04 23:47] zfisch commented on #357
Yep, closing!

[2018-04-04 23:47] #357 closed

[2018-04-13 18:01] amycoffin opened #766 "Incorrect p. Nomenclature; cannot search using p."
Variants display p.(Trp321Ter) instead of p.Trp321Ter. The latter nomenclature is correct, and should be searchable on its own.

This morning, Sam tried to use a p. nomenclature to search BRCA Exchange, and the search failed due to the incorrect nomenclature being present in the variant entries. She thought it strange that the p. nomenclature would show up anywhere in datasets, and we found that t

[2018-04-17 17:11] zfisch opened #767 "update LOVD processing/display to handle individual submissions and display diffs"

[2018-04-17 19:12] zfisch opened #768 "migrate brcaexchange prod/beta/dev machines"

[2018-04-17 19:40] zfisch opened #769 "visual cue for filters"
discuss options for visual cues to show users what filters are currently being applied to variant searches

[2018-04-17 21:45] melissacline opened #770 "In the pipeline, filter out nonspecific missense substitutions."
Filter out any missense variants for which the Alt base is a wildcard character rather than a nucleotide.  The simplest approach is to filter out any Alt base that is not one of (A,C,G,T).

[2018-04-18 23:05] melissacline opened #771 "Abbrev AA change in BIC variants erroneously ending up in the BIC_Nomenclature field?"
The variant http://brcaexchange.org/variant/85210 lists 'A1797G' as its "BIC Designation".  For this variant, ClinVar correctly lists 'A1797G' as "Protein Change" (see https://www.ncbi.nlm.nih.gov/clinvar/variation/51852/).  We are getting this variant from BIC.  Are we erroneously assigning protein changes from BIC variants as BIC designations, or is BIC inconsistent in what it provides?

[2018-04-18 23:07] melissacline commented on #671
To wrap up this issue, these are variants for which the reference base no longer matches what's in the reference human genome, so we're filtering these out deliberately.

[2018-04-18 23:07] #671 closed

[2018-04-18 23:12] cmarkello commented on #671
Sorry this issue got dragged out. I got distracted by duties on the VG team
and lost track of this problem. I couldn't find an immediate solution as to
how to handle these ambiguous variants. I think filtering out variants with
ambiguous mappings to old reference positions is a good call. We don't want
to include any ambiguous data in the dataset if possible.

-Charlie

On Wed, Apr 18, 2018 at 4:0

[2018-04-27 20:55] #709 closed

[2018-04-27 20:59] melissacline opened #779 "Add the Date Last Reviewed to the ClinVar reports and tiles"
We should report ClinVar's Date Last Reviewed as a complement to the Date Last Updated.  We will need to add this to the pipeline, and to the ClinVar report tiles.

[2018-04-27 22:12] #744 closed

[2018-04-27 23:05] zfisch commented on #779
@izcram could you tackle this while working on the other clinvar data and enigma pipeline updates?

[2018-04-30 03:42] melissacline opened #780 "Link the fields in the ClinVar tile to their respective help text"
In the All Public Data tile, in the ClinVar tile, there is now help text that the fields could be linked to.  Let's put those links in place.

[2018-04-30 03:45] melissacline opened #781 "Link tiles to their appropriate help text sections."
In the Variant Details page of the All Public Data portal, ENIGMA, ClinVar, LOVD, BIC, Multifactorial Analysis and Allele Frequency tiles could now be linked to their appropriate help text sections.

[2018-04-30 03:46] melissacline commented on #512
Closing, to be continued as #780 and #781.

[2018-04-30 03:48] #512 closed

[2018-05-02 22:30] zfisch opened #782 "set up local installation of VEP"

[2018-05-15 17:07] #763 closed

[2018-05-15 17:34] zfisch opened #786 "set up links to sections on help page from outline"
extend to anchor tags to be used wherever needed?

[2018-05-15 20:34] zfisch opened #787 "look into pyhgvs_cdna doesnt match hg38 start and end"
The BRCA2 variants that I found that had Hg38 Start and End coordinates that did not match with the pyhgvs_cDNA were c.71delT (Hg38_Start=32319077 and Hg38_End=32319078 which correspond to c.68 and c.69) and c.71_96delTAGGACCAATAAGTCTTAATTGGTTT (Hg38_Start=32319077 and Hg38_End=32319103 which correspond to c.68 and c.94). Even with the RefSeq numbering potentially adding/subtracting 1 these coordi

[2018-05-15 20:35] #442 closed

[2018-05-15 22:40] ccdlott commented on #787
I found another one in BRCA2 c.6842-30_6842-3del28 Hg38_Start = 32344526 (c.-32) and Hg38_End = 32344554 (c.-4)

[2018-05-18 00:22] cmarkello opened #788 "Transcript visuals not correct for some BRCA1 variants"
@zfisch @melissacline
I've discovered some inconsistencies when looking at a couple of BRCA1 variants in the lollipop chart and comparing that against what's displayed in the variant detail Transcript Visualizations. It seems the chromosomal positioning is incorrect.

For example:
- located in brca1 exon 10 in the lollipop chart, but located in exon 15 in the transcript visual: http://brcaexchange

[2018-05-18 02:27] zfisch commented on #788
@falquaddoomi could you take a look at this?

[2018-05-18 02:43] falquaddoomi commented on #788
Concerning; thanks for catching that, @cmarkello. I'll take a look as soon as I can.

[2018-05-18 16:18] ccdlott commented on #788
@falquaddoomi the chromosomal positioning in the transcript visualization matches the chromosomal positioning on the HCI PRIORS website for the variants listed above

[2018-05-18 16:56] ccdlott commented on #788
@falquaddoomi I think the issue is with the lollipop chart and not the transcript visualization. The lollipop chart does not take into account the fact the BRCA1 is a minus strand gene so variants that are in exon 1 in the lollipop chart are actually in the last exon in the visualization which is correct because these are 3' UTR variants. The opposite is also true, variants in the last exon on the

[2018-05-18 18:32] cmarkello commented on #788
It looks like a simple modification to reverse the ordering of the exon
number labels on the brca1 lollipop domain should fix it. The JSON file
that the lollipop chart parses can be found here
https://github.com/BRCAChallenge/brca-exchange/blob/master/website/content/brca1LollipopDomain.json
.

Though after looking at it again, I'm a little unsure about the exact exon
structure of build GRCh38 BRC

[2018-05-21 08:22] amycoffin opened #791 "FAQ Title: brca exchange > BRCA Exchange"
The question "What makes brca exchange different from other public databases?" needs to capitalize BRCA Exchange on the FAQ page

[2018-05-22 22:22] melissacline commented on #788
The first exon in BRCA1 (in the canonical transcript) is a UTR exon.

If it's truly a simple thing to reorder the lollipop plot to show exons in
transcript order rather than genome order, that would be awesome!

On Fri, May 18, 2018 at 11:32 AM, Charles Markello <notifications@github.com

[2018-05-24 22:03] zfisch opened #792 "intronic variant showing up as exonic in visualization"
HGVS string (c.5406+1G>A), the plus sign indicates that it's in the intron.  Any variant with either a plus or minus sign is intronic.

[2018-05-24 22:04] zfisch commented on #792
<img width="1157" alt="screen shot 2018-05-24 at 3 03 04 pm" src="https://user-images.githubusercontent.com/4503616/40515939-b6555696-5f63-11e8-9c5d-80d29ca044a9.png">

[2018-05-26 00:03] cmarkello commented on #788
@melissacline
What's the NCBI RefSeq ID of the canonical BRCA1 transcript? There are many transcripts. NM_007300.3 is listed first in this BRCA1 transcript table (http://useast.ensembl.org/Homo_sapiens/Transcript/Exons?db=core;g=ENSG00000012048;r=17:43044295-43125370;t=ENST00000357654). NCBI lists this transcript as "transcript variant 2" while the second transcript on the list, NM_007294.3, is la

[2018-05-26 00:05] ccdlott commented on #788
We use NM_007294.3 and there are 23 total exons in BRCA1 but exon4 is skipped so the last exon is exon 24

[2018-05-28 11:39] falquaddoomi commented on #792
Good catch. It seems that variant is at 43049120 and right on the boundary of exon 22, which starts at 43049120 and ends at 43049194 according to SplicingData.js. I guess that implies that the exon boundaries are exclusive? Also, we internally represent variants of a single nucleotide as being the interval (position, position+1); I assume we should treat that interval as inclusive for the lower bo

[2018-05-28 13:17] falquaddoomi commented on #792
After a bit of investigation, it seems that the exons for both BRCA1 and BRCA2 are exclusive in their starting position and inclusive in their ending position. I made that adjustment in the code and did some more spot-checking around the exon/intron boundaries in both genes, and it appears that variants with a +/- are being correctly rendered into introns now.

[2018-05-28 19:11] amycoffin opened #797 "LOVD Tile: ID Data Label Change"
Change "Submission ID" to "Variant ID" in the LOVD tile. Submission ID is technically inaccurate.

[2018-05-28 19:13] amycoffin opened #798 "LOVD Tile: Genetic Origin Label Change"
Change "Genetic Origin" data label to something like "Data Type" or "Variant Data Type." Final label name TBD.

[2018-05-28 19:17] amycoffin opened #799 "Genetic Counselor Recommendation: Data Completion Visual"
Per conversations with Genetic Counselors, create some sort of visual representation, perhaps a bar with percentages, for data completion/confidence about a variant. Melissa, you asked me to create an issue and assign it to you after the GC meetings, but it sat on my To Do list for too long.

[2018-05-28 19:19] amycoffin opened #800 "Variant Details Page: Hover Over Definitions"
Provide hover over definitions for the variant details page that correspond with, and auto-update according to, Help Text.

[2018-05-29 02:12] melissacline commented on #800
@falquaddoomi Have you had a chance to think more about this yet?

[2018-05-29 02:14] melissacline commented on #798
@zfisch Would you change the label "Genetic Origin" in the LOVD tile to "Variant Data Type"?  Thanks!

[2018-05-29 02:15] melissacline commented on #797
@zfisch Would you take care of this one too?  Thanks!

[2018-05-29 02:17] melissacline commented on #799
I remember this.  The EGG wasn't as enthusiastic about this suggestion.  But, let's keep it in the backlog queue, to potentially revisit in a few months.

[2018-05-29 13:03] falquaddoomi commented on #800
@melissacline I haven't had a chance to address it yet, but as of today I've finished the transcript viz. fixes that I had on my list (specifically, reducing its height, and fixing some off-by-one errors with variant display). I'll start working on a prototype of the on-hover tooltips today.

[2018-05-29 13:42] falquaddoomi opened #801 "transcript viz. takes up too much vertical space"
The transcript visualization is currently too long, causing important information about the variant to be pushed past the fold.

[2018-05-29 16:45] melissacline commented on #800
Thanks, Faisal!  Once you're happy with the prototype, let me know if you
could use help in moving around text.  I'm not much of a javascript
developer, but I'm good at following instructions :)

On Tue, May 29, 2018 at 6:03 AM, Faisal <notifications@github.com> wrote:

[2018-05-29 17:43] melissacline opened #803 "Discongruency in Individuals_LOVD when comparing old and new data"
This month, the most frequent data change is in LOVD's individuals count.  Most of the time, the changes make sense, e.g.
Individuals_LOVD: 3 | 1,2
Individuals_LOVD: 5 | 1,4
And then sometimes they make no sense, e.g.
Individuals_LOVD: 6 | 1,2
Individuals_LOVD: 7 | 1,2
Here are some specific cases where they make no sense.

 chr13:g.32337623:AT>A
 Old Source: ENIGMA,LOVD,BIC,ClinVar
 New Source: E

[2018-05-29 22:23] zfisch opened #804 "ensure community page user verification emails are sent to admin"
we used to receive user signup notification emails at brcaexchange@gmail.com to approve new users. at some point they stopped coming. check with melissa where to have these emails sent to.

[2018-05-30 11:19] falquaddoomi commented on #801
Fixed in PR #802. (Please feel free to reopen if the fix isn't sufficient.)

[2018-05-30 11:19] #801 closed

[2018-05-30 11:26] falquaddoomi commented on #800
Thanks for the offer, although luckily I was able to scrape most of the tooltip definitions from the existing help text.

The expert-reviewed portal help markdown unfortunately needed a bit of manual annotation. Specifically, entries in `website/content/help.md` need to conform to the following format to be picked up by the tooltip scraper:
[code]
The field name is slugified (that is, stripped of

[2018-05-30 11:33] falquaddoomi commented on #800
Also, I think we might benefit from using this plugin, https://github.com/markdown-it/markdown-it-deflist, which adds markdown for creating definition lists, terms, and descriptions (the `<dl>`, `<dt>`, and `<dd>` tags in HTML, respectively.) It'll make extracting the tooltips from the documentation more robust as well as make our definition lists look consistent. Deflist markdown is documented he

[2018-06-20 18:19] #782 closed

[2018-06-21 16:29] rcurrie opened #809 "BRCA resources download URL going away"
hgwdev.soe.ucsc.edu is going away as of July - or rather its being pruned down to just the UCSC browser group. So all the [download instructions](https://github.com/BRCAChallenge/brca-exchange/tree/master/pipeline) for the pipeline repo will need to change.

In its place a new GI wide public server (courtyard) is up and the new public URL's take the following form:

http://public.gi.ucsc.edu/~<use

[2018-06-21 16:30] rcurrie opened #810 "Dockerize splicing pipeline"
Issue to track work on dockerizing the splicing pipeline so it can be run standalone as well as to remove its dependency on the ensembl servers.

[2018-06-21 16:31] rcurrie commented on #810
I've created a fork from master for the work: https://github.com/rcurrie/brca-exchange

[2018-06-21 22:45] zfisch commented on #809
Seems reasonable. We also have plenty of machines with very cheap storage where we could store these files if we want. e.g. we could just store them all on the brcaexchange.org machine or the pipeline machine.

[2018-06-26 17:13] rcurrie commented on #810
Dockerized pipeline now build, tested and pushed. See [README](https://github.com/rcurrie/brca-exchange/blob/master/pipeline/splicing/README.md) for details.

@zfisch send me the error you're seeing with pytest

[2018-06-26 17:29] zfisch commented on #810
[code]

[2018-06-26 17:46] rcurrie commented on #810
@zfisch Reproduced! Removing the --user works around it for the test only. Will push out a fix in a bit and notify here.

[2018-06-26 19:21] rcurrie commented on #810
@zfisch fixed! docker pull brcachallenge/splicing-pipeline and then try again.

pytest was trying to create a cache but in the app folder which was owned by root...

[2018-06-26 21:19] zfisch commented on #810
@rcurrie what's the expected format for running calc? I get:

[code]

[2018-06-26 22:20] rcurrie commented on #810
calc <path to input in the container> <path to output in the container>
You're mapping built_with_change_types.tsv to a FILE /data so the path to that in the container would just be /data, but that's probably not what you want. You probably want to:

-v /home/zfisch/splicing:/data

and then:

.... calc /data/input.tsv /data/output.tsv

Make sense?

[2018-06-27 01:23] zfisch commented on #810
Indeed it does, thanks! I'm running the splicing code against the latest dataset (from this morning) right now -- excited to see how it does against 20,629 variants :)

[2018-06-29 19:20] amycoffin opened #814 "Mismatched Variant Details Fields & Help Page"
The below discrepancies are found between the Variant Details page and the Help Page. All discrepancies will be resolved by updating the Help Page to match the Variant Details Page, rather than updating the field titles to match the Help. It is assumed that the Help Page is out of date or was updated incorrectly.

Furthermore, they will be addressed during or after a new UI and markdown organizati

[2018-07-04 00:34] #768 closed

[2018-07-05 22:59] amycoffin opened #816 "Solve ambiguity for protPrior = 0.02"
protPrior can = 0.02 for the following reasons:
- Silent (synonymous) mutation (implemented in calcVarPriors.py)
- Missense variant outside key domain (implemented)
- In frame indel outside CI/key domain (not yet implemented)

This ambiguity is most relevant to the protein-level estimation nested tile.

Since there is a case where splicing prior can equal 0.02 to as well, outside splice consensus

[2018-07-05 23:02] amycoffin opened #817 "Solve ambiguity for refDonorPrior, refAccPrior = 0.04 in ISPP sandbox"
The splicePrior can equal 0.04 for more than one reason:

- the variant improves the wild type splice site
- the variant has null/low impact on wild type splice site

Both have been implemented in calcVarPriors.py. This ambiguity affects the splicing-level estimation nested tile (Donor Splice Site Impact tab and Acceptor Splice Impact tab), because we need to determine where to put the red box and

[2018-07-05 23:25] amycoffin opened #818 "Solve ambiguity for deNovoPrior = 0.02 in ISPP Sandbox"
splicePrior can equal 0.02 for more than one reason:

- The de novo splice likelihood is weak/null, or low.
- The de novo splice site creates an innocuous In Frame Deletion (IFD). It is also ambiguous (to me) whether this IFD is the same IFD noted in issue #816

This ambiguity affects the Splice-level estimation nested tile, the de novo donor tab.

[2018-07-06 17:32] rcurrie commented on #810
I've added support to run the pipeline using multiple processes with a new --processes option. By default it spins up 8 cores but I've tested it up to 44 and seems to work just fine. Pushed a new tagged version with this in it:

[code]
NOTE: Adjust references path to taste after install

Will run the integrated set of 88 variants on 22 cores and validate the output. The output is now sorted by the

[2018-07-06 18:07] zfisch commented on #810
Nice! This all makes sense. As long as the headers in the output follow the format that should be fine, and if that proves problematic, we can always adjust them in the deployment script so they're consistent in the database.

Feel free to submit a PR whenever you're ready!

FWIW, the previous output, built.tsv/built_with_change_types.tsv, was sorted in ascending order by Genomic_Coordinate_hg38 (

[2018-07-06 18:53] rcurrie commented on #810
That sort looks better given the HGVS ambiguities, will sort the output using that and submit a PR by Monday after I look over the changes to minimize entropy.

[2018-07-09 05:07] amycoffin opened #820 "Handle Special Case #1: Nonsense Variants in Grey Zone"
If a nonsense variant is found to be in a grey zone, it is given a probability of 0.5 instead of 0.99. Accordingly, we should implement another box to add to the nonsense variants:
<img width="340" alt="screen shot 2018-07-08 at 10 19 29 pm" src="https://user-images.githubusercontent.com/25374391/42431576-b4263fb6-8303-11e8-8ac6-7a02f22ff228.png">

[2018-07-09 05:09] amycoffin opened #821 "Handle Special Case #2: Wild Type donor already has low z score; variant does not severely change z score"
Where? Splice-level Estimation nested tile/Wild Type Donor Impact tab

**Case indication per data:**
refRefDonorZ < -2.0; | altRefDonorZ - refRefDonorZ | < 0.5

**Text implemented on HCI website to handle:**
This variant was classified as Moderate because the Z-score for the wild type is already low and the change due to variation is not considered large enough to warrant Severe.

**Suggested text

[2018-07-09 05:18] amycoffin opened #822 "Handle Special Case #3: De Novo Donor is better than the wildtype donor because of the donor splice site damage"
Where? Splice-level Estimation/ De Novo Donor tab

**Indication per data:**
deNovoZscore > closestDonoraltZ

**Text implemented on HCI:**
This variant was promoted one category because the Z score for the de novo splice site introduced by the mutant is higher than the z score of the alternative donor sequence of this exon.

**Suggested text for BRCA Exchange:**
This variant was promoted one catego

[2018-07-09 05:19] amycoffin opened #823 "Handle Special Case #4: Wild Type acceptor already has low z score; variant does not severely change z score"
Where? Splice-level Estimation nested tile/Acceptor tab

**Indication per data:**
refAccDonorZ < -1.5; | altRefAccZ - refRefAccZ | < 0.5

**Text implemented on HCI:**
The variant was classified as Moderate because the Z score for the wildtype is already low and the change due to mutation is not considered large enough to warrant Severe.

**Suggested Text for BRCA Exchange:**
This variant was class

[2018-07-10 16:52] falquaddoomi commented on #821
Originally implemented in commit 03dc1bf2bf7bd9824233823db10e3d6e0dd2a2df. I'll adjust the text to add the missing "(less than -2)" part shortly.

[2018-07-10 17:03] falquaddoomi commented on #822
Originally implemented in commit 03dc1bf2bf7bd9824233823db10e3d6e0dd2a2df. The text was copied from slide 15, which reads "This variant was promoted one category because the Z score for the mutant is higher than the z score of the alternative donor sequence of this exon."

I'm surprised that that doesn't match either of the given descriptions, but I'll change it to the suggested BRCA Exchange text

[2018-07-11 20:07] amycoffin commented on #822
It doesn't match because I accidentally edited as I was copying, but we need to flag suggested new text as important for review by EGG/Sean.

[2018-07-11 21:16] amycoffin opened #825 "Make intronic regions of sequences lower case"
Where? Splice-level Estimation nested tiles, all tabs

Intronic regions of sequences are lower case on the HCI website, and should be reflected similarly on BRCA Exchange.

[2018-07-11 21:18] amycoffin opened #826 "Variants assigned "key domain" protPriors, but do not show CI_domain in variant location"
Key domains and CI domains seem to still not be completely interchangeable; there are values of protPrior that are indicated as key domains per the UI (i.e. protPrior = 0.03, 0.66, etc.) but do not get CI_domain in the output file's "varLoc" column. This issue is related to Issue #816

Chloe mentioned that she gets protPriors from a file from Sean, and  we need to follow up with those working on c

[2018-07-11 21:47] amycoffin commented on #826
Here is an excel sheet filtered for these cases:
[proteinPriorsCIResearch.xlsx](https://github.com/BRCAChallenge/brca-exchange/files/2186301/proteinPriorsCIResearch.xlsx)

[2018-07-11 21:58] amycoffin opened #827 "Implement API call to ENSEMBL for Variant Type"
In the applicable _In Silico_ probability of pathogenicity nested tile, Variant Type is a field indicated by wireframes, but unavailable in calcVarPriors.py output. "VarType" currently indicates indel, substituion, etc. rather than missense, nonsense, or silent.

[2018-07-11 22:10] amycoffin commented on #817
Melissa, I assigned you on this issue because the ambiguity is not yet resolved, I just indicated all that I know about it.

[2018-07-12 23:32] amycoffin opened #828 "When protein-level estimation is N/A, show N/A text instead of probability table"
When protein level estimation is N/A, the prototype currently shows the probability table with no red box. We can implement a similar format to the splice tabs when they show N/A, and there is text available in the [google doc](https://docs.google.com/document/d/1tLityUI0PSWIvBjNU5_l2OM4EFXjA9sddbeb3Cdu_SY/edit).

[2018-07-16 15:24] falquaddoomi commented on #825
Looking at the data, I don't see any examples in which there are lowercase characters in the sequence columns. Is there a column that indicates which part is the intronic vs. exonic portion of the string, or ideally can we populate the sequence columns with a case-sensitive version in calcVarPriors?

[2018-07-16 16:49] falquaddoomi commented on #816
This ambiguity should be handled by the text in the overall probability subtile, underneath the graphic. The text is "Applicable Probability is from X", where X is determined with the following logic:

(Note that `splicingPrior` is the max of `refDonorPrior`, `refAccPrior`, and `deNovoDonorPrior`.)

- If `proteinPrior` is greater than `splicingPrior`, X is "Protein-level Estimation"
- Otherwise, `

[2018-07-16 21:03] amycoffin commented on #817
I am going to look into the existing flags per the spreadsheet faisal provided
[donor, acceptor priors are 0.04](https://docs.google.com/spreadsheets/d/1hfFarfSJxqQagxFh434bZv5gy-pHBfXVdENTRtS8eJ8/edit#gid=0)

[2018-07-18 19:11] amycoffin commented on #826
I think that this issue might be resolved or more easily addressed once #827 is resolved. I am waiting for that issue to be resolved before moving forward with this piece.

[2018-07-18 20:37] amycoffin commented on #817
I believe that this ambiguity can simply be resolved by introducing the following conditional to the front-end implementation, and a back-end flag is unnecessary:
if altRefDonorZ > refRefDonorZ, then improved. Else, Weak/Null.

Many variants are intronic variants with 0.04 and cannot be checked against the HCI website, but I checked 5 random variants against the HCI website and this logic seemed t

[2018-07-18 21:37] amycoffin commented on #818
according to calcVarPriors.py, "frameshiftFlag: equals 1 if variant causes a frameshift, 0 if not". However, there are also "-" and "N/A" values assigned for that flag. It appears that all insertions, deletions, and indels are currently "-", which means that frameshiftFlag might be more useful once Zack implements the indel side of the code.

Intuitively, I believe that the part of the code that a

[2018-07-18 21:54] rcurrie commented on #827
Below is sample output from a call to the local call to VEP in the new splicing docker. It includes an array of consequences (I've just included the first here for illustration):

[code]

[2018-07-18 21:59] rcurrie commented on #827
I turned on the --everything [vep option](https://uswest.ensembl.org/info/docs/tools/vep/script/vep_options.html) and here's what we get:

[code]

[2018-07-18 22:17] melissacline commented on #827
Here is the list of possible transcript consequences: https://uswest.ensembl.org/info/genome/variation/prediction/predicted_data.html#consequence_type_table

[2018-07-18 23:42] melissacline commented on #828
Looks good!

[2018-07-18 23:42] #828 closed

[2018-07-19 18:08] amycoffin opened #830 "Tag dockerized version of Chloes code prior to "open heart surgery.""
Before we start making major changes, we'd like to assign a GitHub tag to version 1 of the Probabilities code so that we can easily access a version that runs. We might as well tag the dockerized version rather than the original one

[2018-07-19 18:11] amycoffin commented on #817
@falquaddoomi Can you elaborate what you are saying about the de novo donor prob here?

[2018-07-19 21:06] falquaddoomi commented on #817
@amycoffin Ah, sorry, that was more a note for myself than anything. I just added an optional 'check' condition to the data structure that stores the probabilities; the condition, if present, is evaluated against the priors data to disambiguate priors that match multiple entries.

[2018-07-19 22:14] amycoffin opened #831 "Update getVarConsequences() methods to better reflect varConsequences"
**Current Functionality:**

getVarConsequences (line 247) currently calls Ensembl VEP to retrieve characteristics of a variant that are relevant to pathogenicity, also called "consequences." VEP returns a dictionary with the following structure, with bolded keys/values returned by current getVarConsequences().

{'allele_string',..., **'transcript_consequences':** [{'amino acids': [], ..., **'conse

[2018-07-19 22:16] amycoffin opened #832 "Update conditionals to check for values in updated varConsequences list"
This issue assumes that Issue #831 is resolved.

getVarConsequences is used in 6 conditional statements to populate data based on variant consequence terms. The following methods utilize these conditionals. Most, if not all, of these conditionals should be able to be altered to basically use an "if in list" format in lieu of an "if ==" format:

getPriorProbSpliceRescueNonsenseSNS (line 1401)
curre

[2018-07-19 22:27] amycoffin opened #833 "Add Ensembl Variant Consequences as a new row"
Where? In Silico Probability of Pathogenicity Tile

Once varConsequences column has been added to calVarPriors.py output, populate the Ensembl Variant Consequences row.
(add translations from values to names)

[2018-07-19 22:29] amycoffin commented on #831
@rcurrie I am assigning you to these issues for now, because you where there  but if you don't feel comfortable implementing them, feel free to just unassign yourself and we can figure out whether Melissa or Zack will. This loop will close somewhat easily.

[2018-07-19 22:31] amycoffin commented on #832
@rcurrie I am assigning you to these issues for now, because you where there but if you don't feel comfortable implementing them, feel free to just unassign yourself (and assign me). We can figure out whether Melissa or Zack will. This loop will close somewhat easily.

[2018-07-19 22:39] amycoffin commented on #827
@melissacline should we close this issue since it has now evolved into issues #831 and #832 ?

[2018-07-19 22:47] amycoffin commented on #818
Once issues #831 and #832 are addressed, we can implement a frameshift flag either using getVarType() or getVarConsequnces(), or perhaps a combination of the two.

[2018-07-19 22:49] amycoffin commented on #816
Once issues #831 and #832 are addressed, we can implement a frameshift flag either using getVarType() or getVarConsequnces(), or perhaps a combination of the two.

[2018-07-19 22:50] amycoffin commented on #818
Once issues #831 and #832 are addressed, we can implement a frameshift flag either using getVarType() or getVarConsequnces(), or perhaps a combination of the two.

[2018-07-19 22:51] amycoffin commented on #816
This issue will be more easily addressed once #831 and #832 are closed

[2018-07-23 15:40] rcurrie commented on #827
Closing to reduce the issues in play to #831 and #832 along with the original dockerize #819

[2018-07-23 15:40] #827 closed

[2018-07-23 15:42] rcurrie commented on #832
@amycoffin I can implement the 'in' logic but will need someone's cursory eyes on the dangling else clauses to verify that they can still be a catch all. There are a ton of consequences that can be returned and its not clear to me that all of them can be caught via the else.

[2018-07-23 15:48] rcurrie commented on #830
@amycoffin the code has not been merged into BRCA yet (pull request is #819). As its as written likely wrong I'm not sure we should integrate it back in net of the dockerization and local ensembl additions.

For posterity here is the version of my forked repo that's fully tested before we do the big change to getVarConsequences():

https://github.com/rcurrie/brca-exchange/tree/44eaee3f42f97cbc09ea

[2018-07-23 17:09] melissacline opened #835 "User reports not being able to register for the community pages"
From: Garima Gupta <drgarima2009@gmail.com>
Date: Sat, Jul 21, 2018 at 1:04 AM
Subject: BRCA Exchange website
To: brca-exchange-contact@genomicsandhealth.org

Respected Authorities,
This is to bring to your kind notice that I am Dr Garima Gupta, MD working as Senior Research Officer at Rajiv Gandhi Cancer Institute and Research Centre. I want to be enrolled as a Community Member for the same, I ha

[2018-07-23 17:14] melissacline opened #836 "Email notification not going out when there are new community pages users pending approval"
There should be an email that goes out when a new user has signed up on the community pages and is awaiting approval.  Those emails were set up to go to Rachel, but she says she hasn't been receiving them.  New users do occasionally sign up: I log in occasionally to http://brcaexchange.org/backend/admin/ and do batch approvals of new users.

While the email notification is being fixed, please set

[2018-07-23 19:18] melissacline commented on #804
Duplicate of # 836

[2018-07-23 19:18] #804 closed

[2018-07-23 19:19] #752 closed

[2018-07-23 19:20] #747 closed

[2018-07-23 19:20] #746 closed

[2018-07-23 19:20] #761 closed

[2018-07-23 19:20] #760 closed

[2018-07-23 21:56] rcurrie commented on #831
After talking with @amycoffin and indirectly @melissacline here's the plan:

- [ ] Modify getVarConsequences() to return a list
- [ ] Change all comparisons of the result to 'if in'
- [ ] Run the test 88 variants and see if the output is the same

Amy is going to look at the if's to see if they really are all mutually exclusive as well as the default else to see if it makes sense given there are 2

[2018-07-23 23:40] amycoffin commented on #832
@rcurrie
1. I think it is already unclear if or how elses are actually acting as a catch all, even prior to the if-in logic being implemented.

2. the main changes we would expect to see after if-in logic is implemented is where the first if gets thrown more often. To generalize, say that right now 2 variants have varConsequences = consequence A. Implementing the Consequence list assignment to var

[2018-07-24 18:06] rcurrie commented on #831
@melissacline @amycoffin Good news - Chloe's test 88 variants generated identical priors output! I'm going to do a bit more testing to see if any of the dangling else clauses are being taken or not - they may never occur. Will also see about stepping up to the full input just to see if it changes or not.

[2018-07-25 11:54] falquaddoomi opened #837 "Tooltips no longer display since PR #834"
PR #813 introduced hover-over tooltips; the content for those tooltips is scraped from the help markdown with some assumptions about where the help markdown is stored and how field help entries are formatted.

PR #834 introduced a new structure for the help documentation, including both content changes and changes to where the markdown is stored in the filesystem. The parsing code for extracting t

[2018-07-25 15:22] rcurrie commented on #831
@amycoffin There appears to be where the result of getVarConsequences() is examined for a certain value and if it doesn't contain it another branch is taken implying that all other results are valid (aka default else):

[**A**](https://github.com/rcurrie/brca-exchange/blob/getVarConsequences-return-list-832/pipeline/splicing/calcVarPriors.py#L2696):
[code]

[**B**](https://github.com/rcurrie/brca-

[2018-07-25 16:31] melissacline commented on #831
@rcurrie thank you, thank you, thank you!

[2018-07-28 09:14] izcram commented on #831
@rcurrie Not much idea myself. But given that pyhgvs_cDNA is always available it makes sense to use this. See also https://github.com/BRCAChallenge/brca-exchange/blob/master/pipeline/data_merging/brca_pseudonym_generator.py#L165 and https://github.com/BRCAChallenge/brca-exchange/blob/master/pipeline/data_merging/brca_pseudonym_generator.py#L256 to see where it comes from. I suspect, the HGVS_cDNA

[2018-07-28 13:50] melissacline commented on #831
I can add some history here.  HGVS_cDNA is one of the input fields that's used to compute pyhgvs_cDNA.  They seem redundant, and there's a reason for that.  Zack wanted to create a new field (pyhgvs_cDNA) rather than update the old field (HGVS_cDNA), for the purpose of traceability.  So, pyhgvs_cDNA is the better one to use.

[2018-08-02 20:23] zfisch opened #840 "fix help links"
The help links on the variant detail page no longer link to the correct section of the help page (all sections are collapsed).

To see, go to the variant detail page, click on one of the fieldnames, and notice that it takes you to a help page of all collapsed sections.

[2018-08-02 20:41] rcurrie commented on #831
@melissacline @amycoffin @zfisch

I've run the latest splicing pipeline across [all variants](https://github.com/rcurrie/brca-exchange/blob/getVarConsequences-return-list-832/pipeline/splicing/tests/variants_all.tsv) and added the [calculated priors](https://github.com/rcurrie/brca-exchange/blob/getVarConsequences-return-list-832/pipeline/splicing/tests/priors_all.tsv) to my fork as a test case. I

[2018-08-02 20:44] amycoffin commented on #831
@rcurrie is it possible just to make a new, isolated function that returns the list it as it's own column, allowing us to use the full list in implementation even if it doesn't get used in the calculations? It seems helpful to have that information for the validation process as well.

[2018-08-02 21:09] rcurrie commented on #831
@amycoffin should be relatively easy, let me poke around the fields and propose something (at the moment I"m locked out of my dev server/courtyard as someone is being bad with the disk...)

[2018-08-02 21:18] #735 closed

[2018-08-02 21:23] zfisch opened #841 "look into caching requests"
Is it worthwhile to set up caching for variant requests?

[2018-08-02 21:23] #791 closed, assigned to zfisch

[2018-08-02 21:24] #803 closed, assigned to zfisch

[2018-08-02 21:25] #792 closed

[2018-08-02 21:25] #767 closed

[2018-08-02 21:34] zfisch commented on #840
I now see that this is addressed in #839

[2018-08-02 21:34] #840 closed

[2018-08-02 21:41] zfisch commented on #779
@izcram checking to see if this issue was addressed in the latest changes or where it currently stands

[2018-08-02 21:41] zfisch commented on #691
@izcram checking to see if this issue was addressed in the latest changes or where it currently stands

[2018-08-03 17:33] zfisch commented on #837
has this already been addressed?

[2018-08-04 01:11] zfisch commented on #831
@rcurrie i ran some tests across several thousand variants today and found that consequence_terms were returned in order of severity as listed at https://uswest.ensembl.org/info/genome/variation/prediction/predicted_data.html#consequence_type_table. I don't think this sort order is necessarily reliable, but I do think it may have informed Chloe's logic in writing if/elif/else statements with regar

[2018-08-04 09:17] falquaddoomi commented on #837
@zfisch Yes, the main issue was addressed in PR #838 and pushed to beta. I thought I'd fixed the issue with the help sections not opening in PR #839, but apparently it's still broken...I'll reopen the PR and see if I can fix it.

FYI, the problem I *thought* I'd fixed was caused by minification settings for HTML generated from markdown being different in production than they are in dev. Specifical

[2018-08-04 21:28] rcurrie commented on #830
Closing - tag in the comment above and switching to a single branch with docker and getVarConsequences() after we validate.

[2018-08-04 21:28] #830 closed

[2018-08-04 21:29] #832 closed

[2018-08-05 09:00] falquaddoomi commented on #837
This should be fixed by PR #842. (I'd misplaced a quote in the regex, causing the match to fail when the quotes weren't present, i.e. in production.)

[2018-08-05 20:47] rcurrie commented on #831
Looks like the errors I have been seeing when running all variants are due to the UCSC server rate limiter - which we hit quite easily with multiple threads. But we really should be just handing this locally as we have hg38.fa downloaded anyways so going to go ahead and do the work to get rid of that external request as it will fix this as well as speed things up quite a bit. Then I should be able

[2018-08-06 01:08] rcurrie commented on #831
Switched to calculating sequences directly instead of calling UCSC API. Oddly there was already a FASTA file loaded and specified in command line options but it was never being used anywhere in the code.

[2018-08-06 04:35] rcurrie commented on #831
@amycoffin @melissacline @zfisch

I've run built_with_mupit.tsv from the [latest release](http://brcaexchange.westus2.cloudapp.azure.com/backend/downloads/releases/current_release.tar.gz) and added its output to the repo as [built_with_priors.tsv](https://github.com/rcurrie/brca-exchange/blob/1337c86d5958cf98e36f0cc4166cb23d3ef6f8f5/pipeline/splicing/tests/built_with_priors.tsv). There is a new co

[2018-08-06 11:37] izcram commented on #779
Yes, indeed, this was addressed in #829

[2018-08-06 11:37] #779 closed

[2018-08-06 13:13] izcram commented on #691
@zfisch, @melissacline  Yes, some progress recently. We need to think a bit more about requirements.

It seems, we could extract 'synonymous' variant designations from `(Reference)ClinVarAssertion/MeasureSet/Measure/AttributeSet/Attribute` elements in the clinvar XML. Nicely enough, there is an exhaustive list of 'Type's which can appear (doesn't mean they all appear): https://github.com/ncbi/clin

[2018-08-06 17:34] melissacline commented on #691
Let's try adding a new Synonyms field to the Variant Nomenclature tile,
with all of the synonyms (protein, nucleotide and all).  If it gets
painfully long, we can experiment with adding a scrollbar.  Joe's been
looking into that for the literature search display, and has been working
through the nuances of the scrollbars on macs.

On Mon, Aug 6, 2018 at 6:13 AM, Marc Zimmermann <notifications@gith

[2018-08-06 17:38] melissacline commented on #841
There's an interesting question!  If most of the "interesting" variants are
rare, then I'd expect that each single variant gets queried rarely.  But
that's just my hunch, not based on any data.  Is there a way we could
measure this pattern, to see if caching would be useful?

We might also find a lot of repeat queries from the development team, where
we pass around URLs for specific variants...

O

[2018-08-06 18:45] zfisch commented on #691
@melissacline do we know that people will want to search on these? If so, we should include them with the existing synonyms, if not, we should create a new column (maybe "Synonyms_ClinVar") and we can include/exclude them as needed without unnecessarily slowing the existing search algorithm.

[2018-08-06 20:14] zfisch commented on #831
@amycoffin `the variants.tsv file is used for its headers, to build the output file with existing headers + new headers` -- I'm not seeing this anywhere, could you show me where this happens? It's actually dangerous because this requires we update the file in the repo any time we make upstream changes to the pipeline. The input file has all the headers and data we need to generate an output.

[2018-08-06 20:29] amycoffin commented on #831
inputData is the built.tsv file (see line 3449). My guess is that somehow the built.tsv file got renamed as variants.tsv, and now calcVarPriors takes it as a manual argument instead of letting the program default. @rcurrie , has the default on that argument been working for you?

csv.DictReader is used to make a DictReader instance out of inputData (variants.tsv), which allows each row to insert v

[2018-08-07 14:03] rcurrie commented on #831
The files under tests/ are just for regression testing - not meant to be a version managed input or output for the website. The short and long ones in there are 8 and all 88 of Chloe's test files and I felt it was useful to also have a full set for testing/regression. The [command line defaults](https://github.com/rcurrie/brca-exchange/blob/getVarConsequences-return-list-832/pipeline/splicing/calc

[2018-08-07 16:51] #837 closed

[2018-08-07 16:53] #756 closed

[2018-08-07 18:53] zfisch opened #844 "remove mupit tile from column selectors"

[2018-08-07 21:39] melissacline commented on #835
This turned out to be from an outdated password setting.  It's been rectified.  I'm leaving this as Ready for QA until I see that new users are able to register.

[2018-08-08 19:47] amycoffin commented on #821
@falquaddoomi would you call this issue resolved?

[2018-08-08 19:48] amycoffin commented on #822
@falquaddoomi is this issue also resolved?

[2018-08-08 20:49] falquaddoomi commented on #822
Yes, this is resolved; I'll go ahead and close it.

[2018-08-08 20:49] #822 closed

[2018-08-08 20:49] falquaddoomi commented on #821
Yes, I'd say it's resolved.

[2018-08-08 20:49] #821 closed

[2018-08-08 21:28] amycoffin commented on #833
Faisal added a row that says "VEP Consequences" and eliminated the varType field due to redunancy/obviousness. These suggestions were made by Mandy Spurdle, and implemented prior to the EGG call on August 7.

[2018-08-08 21:28] #833 closed

[2018-08-08 21:30] amycoffin commented on #826
Pending progress on regression testing to move further with these questions

[2018-08-09 00:49] #764 closed

[2018-08-09 22:40] zfisch opened #845 "help links in table headers no longer link to correct section of help page"
to recreate:

go to variants page
hover over a field in the header of the variants table
click the question mark that appears over the field name

expected behavior: takes user to correct section of help page
actual behavior: takes user to help page with all sections collapsed

[2018-08-10 00:50] zfisch opened #846 "mupit tile is obscured by data"
the mupit tile on the variant detail page is obscured by data

[2018-08-10 00:52] zfisch commented on #846
@falquaddoomi could you take a look at this whenever you get a chance? I previously used a (hacky) setTimeout in the componentDidUpdate method of the IsoGrid React Class but this no longer works following the latest changes.

[2018-08-10 06:51] falquaddoomi commented on #846
@zfisch I'll look into it ASAP. I've been meaning to review all that masonry layout code anyway.

[2018-08-14 17:21] zfisch opened #849 "verify resources files are used and move them to the brcaexchange server"
after verifying they're still used, update locations and references to:

wget http://hgwdev.soe.ucsc.edu/~cline/BRCA/resources/refseq_annotation.hg38.gp
wget http://hgwdev.soe.ucsc.edu/~cline/BRCA/resources/refseq_annotation.hg19.gp
wget http://hgwdev.soe.ucsc.edu/~cline/BRCA/resources/refseq_annotation.hg18.gp
wget http://hgwdev.soe.ucsc.edu/~cline/BRCA/resources/hg19.fa.gz && gunzip hg19.fa.gz
w

[2018-08-14 17:22] zfisch opened #850 "go through readmes and remove unused scripts from pipeline"
cleanup!

[2018-08-15 13:38] falquaddoomi commented on #846
After looking into the issue a bit, it seems the problem with mupit specifically is that the image was loading *slightly* after the rest of the page, causing its actual size to not be considered in the call to Masonry's relayout method. Aside from that, using precisely-timed setTimeouts to relayout size-changing tiles was fragile; if the animation took longer (e.g. if the browser dropped frames) i

[2018-08-15 22:34] zfisch opened #853 "review frameshift mutation flag in priors code"

[2018-08-17 12:30] falquaddoomi commented on #845
It appears to be expanding the correct section for me on the latest master (65880495025a3700e88454fcd1923148393dae24). Both field and header links are expanding the correct sections on my end, but the header one is admittedly harder to notice since it doesn't highlight the panel's header.

[2018-08-17 13:03] falquaddoomi opened #855 "In help page, all panels under "Variant Details" are expanded if no fragment is specified"
If you visit `/help` without a fragment specified, all the panels past the "Variant Details" header are initially expanded.

[2018-08-21 19:16] falquaddoomi commented on #845
Actually, this is probably a good issue to use to address the fact that section links don't scroll to that the section header in the page. I'll go ahead and do that and issue a PR referencing this issue.

[2018-08-22 07:23] falquaddoomi opened #859 "Django emits deprecation warnings when invoked"
When running anything Django-related, parsing the router definition produces these deprecation warnings:

[code]

This is clearly not a priority since the site works fine with the deprecated routing definitions. Nevertheless, fixing them would clean up the output if you're using the console to run management commands regularly, and the fixes are straightforward as well.

[2018-08-22 12:03] #817 closed

[2018-08-22 12:16] falquaddoomi commented on #823
This looks like it's completed, but feel free to reopen if it's not.

[2018-08-22 12:16] #823 closed

[2018-08-22 22:22] #849 closed, assigned to izcram, zfisch

[2018-08-23 07:11] #859 closed

[2018-08-23 07:12] #845 closed

[2018-08-23 14:20] falquaddoomi opened #862 "tile collapsing detection can be improved"
TL;DR: I forgot to include a small fix in PR #851 to how panels detect their collapsed state. I'll be PRing the fix shortly.

The current master version of `onChangeGroupVisibility()` in `VariantDetail` uses a relatively fragile DOM-traversing method for detecting whether the panel on which the function is invoked is in the process of collapsing, which is then used to set the collapsed state for t

[2018-08-27 10:33] #862 closed

[2018-08-27 16:30] amycoffin commented on #766
I will look at the list you provided me and begin with some searching that I could imagine a GC doing and report back sometime next week (Sept 3-7).

[2018-08-27 23:08] zfisch opened #865 "update circleci builds"
three separate builds take place (test-pipeline, test-splicing-pipeline, and buildweb) with each push, and can report conflating results. Could you group these 3 together as a single "job" so we can easily tell if a push/deploy has issues and abort deployment if so.

[2018-08-28 07:00] izcram commented on #865
This seems to be a known issue, and somewhat long standing...
https://discuss.circleci.com/t/2-0-notifications-are-unusable/19942
https://build.affinity.co/running-parallel-jobs-on-circleci-9fd7c6cb76f5

I'm going to 'sequentialise' the jobs, at the price of speed. Once circleci has fixed the issue, we can go back to parallel building

[2018-08-28 16:43] zfisch commented on #865
Sounds good! Hopefully they get this resolved soon. The main issue for us is that we don't want a deployment to succeed or github to think a PR is safe to merge if any of the builds fail.

[2018-08-28 17:41] amycoffin commented on #818
@falquaddoomi has this been resolved, without updates to the frameshift flag?

[2018-08-28 17:42] amycoffin commented on #816
@falquaddoomi has this one ALSO been solved without updates to frameshift flag?

[2018-08-28 17:42] amycoffin commented on #825
@melissacline the HCI website has intronic sequences as lower-cased. Is it okay that v1 of the priors data does not have this feature?

[2018-08-28 18:04] amycoffin opened #866 "CI domains in data and documentation; ENIGMA or HCI??"
In the General documentation, Michael commented on CI domains stating that they are ENIGMAs. I beleive we are publishing the data per ENIGMA definitions, but theoretically it can be run using other definitions.

I'm not sure this decision has been made clearly. We are defaulting to ENIGMA definitions per Chloe's preliminary implementation, but perhaps this is worthy of an EGG discussion?

Bottom l

[2018-08-28 18:08] amycoffin opened #867 "Ready the documentation for Faisal's Sandbox"
https://docs.google.com/document/d/18w4O2mDCb7NqGzi10yLdmh64X_44tfkYRy0rhno0Ado/edit

[2018-08-28 18:10] amycoffin commented on #867
Faisal converted the Google Doc to markdown and implemented it in his sandbox on 8/20. No changes have been made since then

[2018-08-28 18:40] zfisch opened #868 "integrate splicing pipeline into luigi pipeline"
1. install docker inside luigi pipeline docker container
2. set up socket mapping
3. compose script to manage all splicing pipeline docker run commands (check for / download reference files, run tests, run calcVarPriors)
4. ensure output goes to next luigi task

[2018-08-28 18:40] #844 closed

[2018-08-28 18:50] zfisch opened #869 "Set up SSL for brcaexchange.org"

[2018-08-28 19:30] amycoffin commented on #816
#831 and #832 did not resolve as expected, and this ambiguity persists. I think our best options are as follows:

1. use varConsequences to resovle the ambiguity:
if synonymous_variant in varConseuqences, then synonymous
If missense_variant in varConsequences, then missense irrelevant
else ????
This has a ~15% (1413/9604) fail rate, based on my own unsupervised analysis. 5% of this fail rate appea

[2018-08-28 19:34] rcurrie commented on #869
I recently used a pretty sweet container that automates all the Letsencrypt stuff. I paired it with a reverse proxy I've used that handles sub-domain mapping to containers really easy:

[code]

Briefly the former is a reverse proxy that automatically maps takes *.foo.bar and forwards to a per subdomain container by just setting an environment variable. The latter handles getting and updating every

[2018-08-28 19:50] amycoffin commented on #816
#831 and #832 did not resolve as expected, and this ambiguity persists. I think our best options are as follows:

1. use varConsequences to resovle the ambiguity:
if synonymous_variant in varConseuqences, then synonymous
If missense_variant in varConsequences, then missense irrelevant
else ????
This has a 0.03%(23/6983) fail rate, which seems to be in or near the hot spot that is causing discrepan

[2018-08-28 19:55] amycoffin commented on #818
@melissacline is it true that for all substitution variants, an IFD is not possible? So, given the current data release, can we default to Weak/Null because we have not implemented indels yet?

[2018-08-28 20:05] melissacline commented on #825
Yes, that's totally okay.

[2018-08-28 20:26] amycoffin commented on #866
This may be related to issue #826

[2018-08-28 22:40] #831 closed

[2018-08-28 23:11] melissacline commented on #866
@amycoffin Your mission, if you choose to accept it, is to figure out whether or not the CI domains are ENIGMA's, and to adjust the documentation accordingly.

[2018-08-28 23:13] melissacline commented on #867
@amycoffin Did you catch that we should replace the term "probability" with "prior probability" wherever it appears in the tile and the documentation?  Note that this will affect the figures.

[2018-08-28 23:15] melissacline commented on #818
@amycoffin I think we're safe in saying that if a variant is a substitution variant, then it's not an in-frame deletion.  What is it again that you'd like to default to Weak/Null?

[2018-08-29 00:29] amycoffin commented on #867
Zack mentioned it to me today, so I left a note in the documentation to handle it in my final run through. Mandy and Sean will theoretically see the note to myself if they are concerned. I will have time on Friday to thoroughly handle it.

[2018-08-30 09:26] falquaddoomi opened #873 "Remove temporarily problematic ISPP priors"
Some of the in-silico probability of pathogenicity (ISPP) priors currently being computed are not in agreement with the HCI BRCA prior probabilities site. Variants with incongruent data have been hand-identified; ISPP data for those variants should be excluded from the splicing pipeline output.

[2018-08-31 00:24] zfisch opened #876 "varConsequences field not making it's way to built_with_priors.tsv"
priors output doesn't include built_with_priors.tsv as is expected

[2018-08-31 01:11] rcurrie commented on #876
Using the docker? The [test file output](https://github.com/BRCAChallenge/brca-exchange/blob/master/pipeline/splicing/tests/priors_short.tsv) definitely have it. Let me know if this is something I should look into or if its exogenous to the splicing docker/pipeline.

[2018-08-31 01:15] zfisch commented on #876
Interesting... the way we're running docker right now I'm not seeing it. I think we may be using the wrong docker build. E.g. when I open a shell in the container and try to run calcVarPriors it complains `ImportError: No module named pyfaidx`. Moving to slack for communication efficiency...

[2018-08-31 01:26] zfisch commented on #876
Sure enough, the issue was that we were using an older docker image. Will update to specify which image to use

[2018-08-31 01:26] #876 closed

[2018-09-05 01:31] melissacline commented on #818
@falquaddoomi and @zfisch, when I've looked at this issue with fresh eyes, I've decided that if hte splicing prior is really, really low, then most users are not going to care _which_ situation gave rise to the low prior.  I doubt this will be an issue for this release, since the de novo splice site with the innocuous IFD is a rare situation.  For subsequent releases, it's okay with me if we merge

[2018-09-05 01:34] melissacline commented on #816
@amycoffin @falquaddoomi and @zfisch , once again I've decided that if the protein prior is really low, the user's not going to care much _what_ gave rise to the low prior.  We could have one box to indicate that the variant has a protein prior of 0.02 for one of three reasons, or for one of two reasons if we can tell whether or not it's silent.   Again, this is nothing to worry about for this rel

[2018-09-05 15:14] amycoffin commented on #867
@falquaddoomi
Here is the repo to the updated documentation and images:
https://github.com/amycoffin/insilico

You should be able to just check it out and copy .md and .pngs right over.

Changes were made to all files present in that repo, including decision.png.

[2018-09-05 15:44] falquaddoomi commented on #867
Ok, it's all merged into my branch and deployed to the sandbox.

[2018-09-06 00:12] zfisch commented on #865
let's sync about this after the release, I noticed our beta deploy now kicks off 13 jobs. not that the number matters, but just to make sure they're all necessary and easy to follow if there's an issue.

[2018-09-06 18:58] amycoffin opened #879 "Changes to Beta Docs"
* In main Help UI: Change _In Silico_ Probabilities of Pathogenicity to _In Silico_ Prior Probabilities of Pathogencity (button that clicks to reveal general help)
* Update images 10, 12, and 14 to the respective images in this repo: https://github.com/amycoffin/insilico
* Update insilico-scoring.md according to changes in above repo (or just remove ### header from "Intronic Variant Located in Wil

[2018-09-10 21:52] zfisch opened #882 "update LOVD submission processing"

[2018-09-11 17:14] amycoffin commented on #816
@melissacline So just to double check, this type of ambiguous display is on beta at the moment:
[](http://beta.brcaexchange.org/variant/155834)

Is this okay to go to production?

[2018-09-12 08:36] falquaddoomi opened #883 "Some exonic variants have missing protein-level estimation data"
A few variants that are exonic appear to have missing protein-level estimation data. Here are a few I've found:
- chr13:g.32319227:A>T, http://beta.brcaexchange.org/variant/139172
- chr13:g.32316460:A>T, http://beta.brcaexchange.org/variant/138854
- chr17:g.43093128:A>C, http://beta.brcaexchange.org/variant/156035

A few others are in a donor or acceptor site so I'm unsure if they apply, but I've

[2018-09-18 17:51] falquaddoomi opened #885 "Some variants have an applicablePrior value, but no sub-probabilities"
Some variants (e.g., this intronic variant that's far from splice sites, but is in a critical domain: http://brcaexchange.org/variant/159270) appear to have a value for applicablePrior, but have "N/A" sub-probabilities for proteinPrior or acceptor/donor/deNovoPrior.

Currently the UI hides the ISPP data completely if the sub-probabilities are "N/A". Perhaps we should display something if we do hav

[2018-09-18 17:56] falquaddoomi opened #886 "ISPP tile help link is broken"
PR #881 added the word "Prior" to the name of the ISPP help section, changing it to "In Silico Prior Probabilities of Pathogenicity", which changed the ID of the section and consequently broke the link in the ISPP tile header.

The fix is simply to update `<SilicoPredTile />`'s `helpSection` prop to `"in-silico-prior-probabilities-of-pathogenicity"`. In the longer-term, having automated tests to c

[2018-09-18 18:23] zfisch opened #889 "hgvs libraries cleanup"
We use both the biocommons hgvs library and the counsyl hgvs library in our codebase, though they both serve essentially the same purpose. Is there a way to remove counsyl hgvs from our codebase altogether to avoid confusion? Does messing with it cause more trouble than it's worth?

@strbean also mentioned https://github.com/zwdzwd/transvar -- would this library cover all use cases or is it a thir

[2018-09-18 18:26] zfisch commented on #818
@melissacline @falquaddoomi @amycoffin what's our status on this issue?

[2018-09-18 18:27] zfisch commented on #816
@amycoffin @melissacline status update on this issue?

[2018-09-18 18:27] zfisch commented on #814
@amycoffin what's our status here?

[2018-09-18 18:28] #810 closed

[2018-09-18 18:28] #809 closed

[2018-09-18 18:28] zfisch commented on #800
@falquaddoomi is this issue resolved?

[2018-09-18 18:29] falquaddoomi commented on #800
@zfisch Yes, I think we can say it's resolved. I'll go ahead and close it.

[2018-09-18 18:29] #800 closed

[2018-09-18 18:29] #788 closed

[2018-09-18 18:30] #786 closed

[2018-09-18 18:30] #743 closed

[2018-09-18 18:31] zfisch commented on #738
Same as #869

[2018-09-18 18:31] #738 closed

[2018-09-18 19:00] rcurrie commented on #889
transvar looks cool, but biocommons to my eye has significantly more support and is likeley more durable. Trying it on for size with the priors refactor before the indel addition to see if we can achieve concordance might be a good step.

[2018-09-18 19:54] amycoffin commented on #879
Yup! Closing it now

[2018-09-18 19:54] #879 closed

[2018-09-18 21:29] amycoffin commented on #825
@zfisch I think we should focus on indels, but keep this in mind when we are done. Not sure if it warrants its own issue, but the instructions from EGG were to implement per the HCI website, which does have the lower-cased features.

[2018-09-18 21:40] amycoffin opened #890 "Resolve Blacklisted Priors"

[2018-09-18 22:53] zfisch commented on #825
Sounds good, we can leave it in the backlog for now and revisit when it comes back up 👍

[2018-09-18 23:44] zfisch opened #891 "fix add_diff_json key for lovd"
the new key will be a combo of cdna, submitter, and functional analysis technique (not DBID_LOVD!).

[2018-09-19 11:09] #886 closed

[2018-09-21 10:44] falquaddoomi opened #893 "Transcript Viz. legend boxes aren't filled in on Firefox"
On Firefox 61.0.2 (64-bit) OS X and on 62.0.1 for Android, the boxes in the legend are rendered as empty white boxes. This is apparently due to the fact that Firefox doesn't support specifying the widths and heights of SVG elements via CSS.

[2018-09-24 11:44] falquaddoomi opened #895 "Attribution on homepage needs to be updated"
The text on the website's landing page currently reads "This website is supported by the BRCA Exchange of the Global Alliance for Genomics and Health." It should be updated to the following: "This website is supported by the BRCA Challenge project, a driver project of the Global Alliance for Genomics and Health."

[2018-09-24 19:37] zfisch opened #898 "Bootstrap security vulnerability"
In Bootstrap before 4.1.2, XSS is possible in the data-target property of scrollspy. This is similar to CVE-2018-14042.

package.json update suggested:
bootstrap ~> 4.1.2
Always verify the validity and compatibility of suggestions with your codebase

[2018-09-26 08:35] falquaddoomi opened #899 "Installing the front-end requires node <= v6.9.0"
Attempting to install the front-end dependencies from our current package.json with a post-6.9.0 version of node.js fails with node-gyp compiler errors. The errors are introduced by dependencies of the custom version of `muts-needle-plot` that we're using, specifically this dependency chain: `prepare@0.0.6 -> jsdom@1.5.0 -> contextify@0.1.15`.

The complete log is below:

[code]

[2018-09-26 22:10] zfisch commented on #899
ah yes... this one has been haunting us for a while. it would be great to sort it out so we can upgrade node 👍

[2018-09-27 23:45] zfisch commented on #898
Link to daily updates on a potential patch in 3.x which is a heck of a lot easier than updating to 4.x in case it's preferable.

https://github.com/twbs/bootstrap/issues/25679

[2018-09-28 07:06] #893 closed

[2018-09-28 09:56] falquaddoomi commented on #898
Yes, upgrading to bootstrap 4 would be a significant effort and would force us to upgrade a bunch of other libraries as well.

According to that thread they're not yet at a stable 3.x release that fixes the XSS bugs. The closest thing we might be able to use is the `master-xmr-v3-fixes` branch, but the corresponding PR is missing a few tests according to the author.

I wonder if we can wait on thi

[2018-09-28 15:37] zfisch commented on #898
From what I understand, this is only a vulnerability if we use a very specific feature of bootstrap 3.x.

I’ll dig a little today to see if we do — if we don’t, we can definitely wait this out.

[2018-10-01 11:07] falquaddoomi commented on #899
I don't appear to have write access to [BRCAChallenge/muts-needle-plot](https://github.com/BRCAChallenge/muts-needle-plot), so I've created another fork of [cmarkello/muts-needle-plot](https://github.com/cmarkello/muts-needle-plot) (the repo referenced in the site's package.json) at [falquaddoomi/muts-needle-plot](https://github.com/falquaddoomi/muts-needle-plot). The changes are in the `polish_sa

[2018-10-01 15:49] amycoffin commented on #890
I am in the process of making some files/data structures for @falquaddoomi that have all the preliminary priors data and the data from sean's file.

[2018-10-01 19:06] zfisch commented on #899
Nice work! I just granted you access to BRCAChallenge/muts-needle-plot :)

[2018-10-09 11:57] falquaddoomi commented on #885
After reviewing the pseudocode (at https://docs.google.com/document/d/1Khr1iVvmaxL2msHzP-3EndQvlJ-goHL-XYRYm9c8CKY), this is due to the fact that some paths terminate with an applicable prior probability being set to 0.02 if nothing else can be assessed.

In the code, the following variant locations return an applicablePrior of 0.02 without setting any of the sub-probabilities:
- *introb_variant:*

[2018-10-09 17:48] zfisch opened #905 "scheduled maintenance"

[2018-10-11 08:19] #899 closed

[2018-10-12 08:10] zfisch opened #908 "docker push fails"
make push-docker in the pipeline directory throws an error.

consider not requiring login credentials? same for github?

[2018-10-12 17:18] amycoffin opened #909 "Keep "VARIANTS" tab pink when on Variant Details Page"
The color indicators (gray vs. pink) help the user keep track of where they are on the site. Currently, searching a variant causes "VARIANTS" to turn pink, but once you navigate to variant detials page, it turns back to gray.

If possible, it would be good if VARIANTS could stay pink whilst the user navigates details pages so that they can keep track of where they are in the site.

[2018-10-12 17:22] amycoffin opened #910 "Provide Filter Indicator so users know when filters are being used"
I can apply a filter on BRCA Exchange, and then close the tab when I am done. If I navigate to BRCA Exchange again (after tab has been closed), I search for a variant that does not meet previously filtered criterion. It appears that the variant is not in the database because the filter is still applied. It is not obvious to me that a filter is applied, because it is leftover from an old search.

T

[2018-10-15 20:30] #869 closed

[2018-10-15 20:48] zfisch commented on #898
@falquaddoomi Sorry for the delay here -- seems we should include a fix since there's vulnerability all the way down to the href tag https://github.com/twbs/bootstrap/issues/20184#issuecomment-229014754. There's a lot of movement still happening over at bootstrap and any fix we implement wouldn't make it until next release anyhow, so let's plan on including something in the November release (eithe

[2018-10-16 17:11] amycoffin opened #911 "add hyperlink to brca-exchange/website/content/help/research/insilico/insilico-pred.md"
Current: "**For classification guidelines, please refer to the [American College of Medical Genetics and Genomics Guidelines](https://www.acmg.net/docs/Standards_Guidelines_for_the_Interpretation_of_Sequence_Variants.pdf).**"

**Change:** "**For classification guidelines, please refer to the [ENIGMA Classification Criteria](https://enigmaconsortium.org/library/general-documents/enigma-classificati

[2018-10-16 20:43] zfisch opened #912 "add test for pathogenicity of enigma classified variants"
check final results for a release against original enigma classifications

[2018-10-16 20:45] zfisch commented on #912
this should probably wait until we finish integrating the update to enigma data processing (we're moving to gathering enigma data from clinvar instead of the current process)

[2018-10-17 17:45] zfisch commented on #908
@izcram Just tried rerunning this from /home/pipeline/monthly_releases/data_release_2018-10-05/code/pipeline and noticed some changes -- is this resolved?

[code]

[2018-10-17 18:05] rcurrie commented on #571
@zfisch @melissacline  I have a sample end to end generated [literature.json.zip](https://github.com/BRCAChallenge/brca-exchange/files/2488650/literature.json.zip). This just does the simple hgvsCoding match to get started. I haven't come up the curve of running a full sandbox though so can't ingest and test within the site. My sense is I should focus on the crawler and generation of this file vs.

[2018-10-17 20:36] zfisch commented on #571
Awesome! I'll take a look right now.

[2018-10-17 22:36] zfisch commented on #571
I have a version now up on my sandbox: http://52.229.50.68:8008/variant/144434

I noticed the variants in literature.json are coming from the Genomic_Coordinate_hg38 column -- they should be coming from pyhgvs_Genomic_Coordinate_hg38. As a result, some variants are not showing literature search results because of differences between the values.

[2018-10-18 01:19] #911 closed

[2018-10-18 19:21] zfisch commented on #571
A simple example:

The first variant listed in literature.json, `chr13:32363529:T>G`, is represented as `chr13:g.32363529:T>G` in the variant table of the database (notice the added `g.`). When the request is made to the back end looking for literature search results for the variant `chr13:g.32363529:T>G`, nothing is found -- see http://52.229.50.68:8008/variant/147916.

There are other normalizat

[2018-10-19 16:50] zfisch commented on #571
To clarify, the primary key in each built file is effectively "pyhgvs_Genomic_Coordinate_hg38", not "pyhgvs_cDNA" or any of the other pyhgvs values. To make the current deployment setup work properly, the keys for the variants in the literature.json output should be the pyhgvs_Genomic_Coordinate_hg38 values for the variant in built.

You may be able to solve the issue by changing:
[code]
to:
[code

[2018-10-20 02:07] zfisch commented on #571
Sounds good to me!

[2018-10-20 14:31] amycoffin commented on #890
@falquaddoomi @melissacline Sean mentioned something in an email 10 days ago about following up with Michael clinically important domains. Has this moved forward? Are we due for a conversation about the blacklisted priors?

[2018-10-20 15:33] rcurrie commented on #571
Bit further down the HGVS rabbit hole... Tinkering with biocommons hgvs package which appears to be significantly more extensive and up to date. Includes a dockerized version that downloads all the references (~10G) and exposes it as a postgres db (also available as a service from invitae) so we can run locally an fast (for the time being using the hosted version). But it's also a bit more particu

[2018-10-22 12:39] izcram opened #917 "Integrating SeqRepo into pipeline"
The biocommons HGVS library relies on various external APIs.
We already query a local version of the UTA service when we run the pipeline. However, the pipeline still needs to make external requests to get sequence information.
This could also be avoided by installing a local sequence repo.

See for instructions:
https://hgvs.readthedocs.io/en/stable/installation.html#installing-seqrepo-optional

[2018-10-22 12:43] izcram commented on #571
@rcurrie FYI: biocommons docker is already partially integrated in the pipeline:
 https://github.com/BRCAChallenge/brca-exchange/blob/master/pipeline/Makefile#L33
A small part is missing though: https://github.com/BRCAChallenge/brca-exchange/issues/917

I also made a first small step towards a reusable component for common transformations: https://github.com/BRCAChallenge/brca-exchange/pull/915/fi

[2018-10-23 14:54] rcurrie commented on #571
@izcram I have UTA and Seqrepo running locally now via Makefile. UTA didn't make that big a difference but Seqrepo dropped runtime for a single paper from 3.5 minutes to 30 seconds. Not all tied up in a nice bow but the basic ceremony and environment variables is [here](https://github.com/BRCAChallenge/pubMunch-BRCA/blob/docker/docker/Makefile#L21)

[2018-10-23 18:01] zfisch opened #918 "add clinvar accession search key"

[2018-10-23 18:04] amycoffin opened #919 "Update format of Expert Reviewed Variant details per wireframes"
Please begin developing changes to Expert Reviewed side only per slide 5 of the [wireframes](https://docs.google.com/presentation/d/1qWhXI7qke1PkQzwBpZhLizA8HUVwl3fySM8gkpPaolE/edit#slide=id.g43b62ff40c_0_0).

The implementation makes the Variant Details header smaller. It displays the GRCh38 nomenclature as large, with a small or beneath it, and then the following concatenated version of nomencla

[2018-10-23 19:20] rcurrie commented on #571
Our current primary key via a [comment by reece](https://github.com/biocommons/hgvs/issues/434) isn't HGVS and has a babelfish comment that mentions brcaexchange and that this type of variant he's loathe to parse as its [under specified](https://github.com/biocommons/hgvs/issues/447). Spelunking a bit to sort this out with the library...

[2018-10-23 21:01] zfisch commented on #571
Interesting -- sounds like a conversion between normalized hgvs and brcaexchange genomic coordinate isn't theoretically difficult, and would solve a lot of problems (on our end at least). I've never spoken with Reece directly, but do we have an open channel to discuss?

[2018-10-23 21:03] #882 closed

[2018-10-23 21:03] #891 closed

[2018-10-23 22:48] rcurrie commented on #571
Having trouble with anything other than simple substitutions. As an example:

BRCA Exchange Key: chr17:g.43127866:GAC>G
parser.parse_hgvs_variant("chr17:g.43127866delGACinsG") => chr17:g.43127866delinsG

so the library isn't doing the conversion, as I understand it to:
chr17:g.43127866_43127868delinsG

Also when mapping a coding hgvs to genomic the library uses:
NC_000017.11:g.43057117C>T instead

[2018-10-24 03:46] rcurrie commented on #571
@zfisch Here's an updated [literature.json.zip](https://github.com/BRCAChallenge/brca-exchange/files/2508906/literature.json.zip). The articles key should be identical to the existing so no new parsing there. The variants list is cleaned up and pruned a bit:

[code]

Take a look at let me know what you think - I have more debugging and validation to do and if its a pain to adjust the import script

[2018-10-24 20:52] zfisch commented on #571
Nice! Much cleaner. I just pushed code to integrate this new format and updated http://52.229.50.68:8008/variant/147916 -- looking good.

[2018-10-24 21:48] rcurrie commented on #571
Excellent!!!! Thanks for adjusting and glad it looks better. I have some additional debugging to do with this library but will return to the crawler portion to see about getting a larger set of ~100 reliably.

[2018-10-25 00:16] rcurrie commented on #571
@strbean I'm getting an error from a missing .hg.conf, but I've downloaded all the references locally. Does pubMunch still need to hit a browser server? (This is in the find phase)
[code]

[2018-10-25 14:49] rcurrie commented on #571
@strbean Sorted it out - missing commit from Audrey to turn off DNA search.

[2018-10-25 23:42] rcurrie commented on #571
I have everything running end to end now and have kicked off a crawl of 500 random PMID's to see how long it takes as well as get a sense of how many we are actually able to download. Will also help to get a broader idea of how accurately all the moving pieces are working.

[2018-10-26 03:41] rcurrie commented on #571
500 papers crawled with 396 successfully downloaded and converted in 129 minutes

Total # papers in pubmed with BRCA in title: 16908

16908 * 129 minutes / 500 papers  / 60 minutes = 72 hours to download and convert

[2018-10-26 13:19] izcram opened #921 "Improving HGVS Utils"
A simple and initial wrapper for interfacing the biocommons HGVS library was added: https://github.com/BRCAChallenge/brca-exchange/blob/master/pipeline/clinvar/hgvs_utils.py

However, this should be moved out from the `clinvar` package into e.g. the `utilities` package, which entails tweaking how tasks are run with luigi (this starts with adapting the "working directory" in the  `ExtractEnigmaFrom

[2018-10-26 19:52] zfisch commented on #571
Wow! from 2ish weeks to 72 hours 👏

[2018-10-26 19:56] zfisch commented on #571
@rcurrie what final steps do you feel are necessary on the pubmunch side before we can get to a v1? I'll share my sandbox with the team and resolve any outstanding issues in the meantime.

[2018-10-26 20:40] amycoffin opened #922 "Literature Search UI changes"
From Melissa:

- The hit is indented a few spaces.  IMHO, this indenting doesn't achieve anything in clarity, and costs us in horizontal whitespace.
- I'm wanting to see some sort of border around the literature search results section.
- I'm also wanting to see brief labels for title and author.  So in this example, it would look something like this:
Title: Founder BRCA1/2 mutations in the Europe:

[2018-10-26 20:58] rcurrie commented on #571
[literature.json.zip](https://github.com/BRCAChallenge/brca-exchange/files/2520892/literature.json.zip)
@zfisch Here's the output from a crawl of 500 papers (396 successfully). It doesn't include the paper I sent before (23199084) so may be a good test on what the right thing to do ingestion wise is. I haven't delved yet into the crawler and how it handles papers its already seen - whether we can

[2018-10-26 21:06] rcurrie commented on #571
Short term steps to just get a crawl that we can run (but not a tidy bundled up reproducible docker with test cases etc...):

- [ ] Go through the logs to see if any big errors are getting thrown, ignoring if say 10-20% of the papers are failing to download
- [ ] Have various people take a look at the UI and content to smoke test wise see if the variant finding code is doing the right thing - not

[2018-10-26 22:54] zfisch commented on #922
For clarity:

**Title: Founder BRCA1/2 mutations in the Europe: implications for hereditary breast-ovarian cancer prevention and control.**
Author: Janavičius, Ramūnas

Headerline example:
<img width="655" alt="screen shot 2018-10-26 at 3 54 03 pm" src="https://user-images.githubusercontent.com/4503616/47595876-683c2180-d937-11e8-94db-4d047ccdf669.png">

[2018-10-26 22:56] zfisch commented on #922
The author list can be very long, proposed solution:

Authors: Coffin, Amy, (1 more), Currie, Rob.

[2018-10-27 00:04] rcurrie commented on #571
@melissacline @zfisch @amycoffin The direct list of mutations and snippets found by the pubMunch crawler for [this paper](https://www.ncbi.nlm.nih.gov/pubmed/23199084) is [here](https://docs.google.com/spreadsheets/d/1uI1R2ShvxjTTsuNsPi_dnigBrIubUWKUA7AxvJVCL4Y/edit?usp=sharing). I've put the hgvs that the crawler finds next to the snippets it generates. [correlate.py](https://github.com/BRCAChall

[2018-10-28 18:53] melissacline commented on #571
@Rob Currie I see a couple issues with the second output row.  The text snippet begins, “One BRCA2 mutation c.4258delG (BIC:<<< 4486delG>>>)…“.  The mapping in Column 1 is “NM_007300.3:c.4486G>None|NM_007297.3:c.4486G>None”.

1. We've picked up the wrong gene.  Both NM_007300.3 and NM_007297.3 are BRCA1 transcripts, not BRCA2 (though neither is the canonical BRCA1 transcript NM_007294.3).  The gen

[2018-10-28 18:55] melissacline commented on #571
3. In Row 13, we correctly identified a BRCA2 variant, but didn't identify the correct position.  The text snippet begins "The most prevalent BRCA2 mutations are c.8363G>A (BIC: 8591G>A/W2788X),<<< c.8754+1G>A>>> (BIC: IVS21-1G>A)" and the HGVS in Column A is
NM_000059.3:c.8754G>A.  In this case, the variant in the text is an intronic variant (c.8754+1G>A), while we've picked up the closest exonic

[2018-10-28 19:03] melissacline commented on #571
4. In Row 5, we picked up the correct gene and position, but not the canonical transcript.  " In the Greek population four BRCA1 mutations <<<(c.5526dupC>>>, c.5212G>A (BIC: 5331G>A/G1738R), c.5251C>T (BIC: 5370C>T/R1751X), c.5467G>A (BIC: 5586G>A), account for 54% of all mutations" is translated to  NM_007300.3:c.5526C>CC.  We somehow ended up with transcript NM_007300.3 and not the canonical tra

[2018-10-28 19:07] melissacline commented on #571
4b. In Line 11, we parsed the same text snippet for a different variant, and everything went fine - yay!  "In the Greek population four BRCA1 mutations (c.5526dupC, c.5212G>A (BIC: 5331G>A/G1738R),<<< c.5251C>T>>> (BIC: 5370C>T/R1751X), c.5467G>A (BIC: 5586G>A), account for..." translated to  NM_007294.3:c.5251C>T.

[2018-10-28 19:09] rcurrie commented on #571
I haven't cherry picked Joe's [pyhgvs commit](https://github.com/BRCAChallenge/pubMunch-BRCA/commit/dfabf12d477846bf7667470988fc22b4230d7881#diff-59f5d8ede3dabaa388a170cdcac88841) on varFinder.py which I believe is the relevant file/code as the correlation.py trys to use the updated hgvs library for matchin. At 1400 lines this file has quite a bit of heuristics to try and find things likely in a g

[2018-10-28 19:16] melissacline commented on #571
Viewing this as a prototype method, it's fair game for us to focus on BRCA1 and BRCA2, and assume the canonical transcripts of NM_007294.3 for BRCA1 and NM_000059.3 for BRCA2.  All of this illustrates the challenges of text mining as a general problem.  The general approach seems worthy of a Ph.D. thesis project for some future grad student.  We know we're not going to reach perfect, but we can pr

[2018-10-29 17:21] rcurrie commented on #571
Updated short term plan:

- [ ] Crawl 1k random PMIDs + 2 test papers (23199084 & 30186769) and add to sandbox
- [ ] Walk through all debug output and results for 23199084
- [ ] Get feedback on 1k in sandbox from users to determine whether to do full crawl or more engineering on the var finder and correlation

[2018-10-29 20:42] zfisch opened #923 "cannot import ExtendedInterpolation"
Happening on osx

(brca) Zacks-MBP-2:pipeline zfisch$ pytest --ignore=splicing/
============================================================================== test session starts ===============================================================================
platform darwin -- Python 2.7.10, pytest-3.0.2, py-1.4.31, pluggy-0.3.1
rootdir: /Users/zfisch/UCSC/brca-exchange/pipeline, inifile:
plugins:

[2018-10-30 03:45] rcurrie commented on #571
Crawled 1000 random PMID's + 2 test papers (23199084 & 30186769):

769 downloaded in 248 minutes & 768 converted in 35 minutes
(~80 hours for full crawl of 16,908 papers)
17093 mutations found
860 of those correlated to mutations in built

Passed the output to @zfisch for ingest into the sand box to gather impressions.

[2018-10-30 13:11] falquaddoomi commented on #919
Did we agree that the new variant details header should just be for the expert-reviewed portal? Personally, I think it's more informative to see that text than "Variant Details" regardless of which portal you're using.

Also, for variants that don't have a protein-level change (i.e. intronic variants), I assume we can just display nothing for the protein bit?

[2018-10-30 14:24] falquaddoomi commented on #898
@XhmikosR (the person apparently responsible for the fix) suggests using https://github.com/twbs/bootstrap/tree/master-xmr-v3-fixes, although the latest commit to that branch appears to be failing their CI tests. The one right before that, https://github.com/twbs/bootstrap/commit/ac99e254a6d9a01b2610a6b3243d0972d9324f03, appears to be passing, so perhaps we could use that until there's a proper re

[2018-10-30 14:29] XhmikosR commented on #898
The failures are unrelated to anything outside from our internal linting stuff.

[2018-10-30 14:37] falquaddoomi commented on #898
@XhmikosR Oh, hey, thank you for the response, and sorry for summoning you! Since you're here, would you recommend using the latest commit, https://github.com/twbs/bootstrap/commit/55fd7d1bc37bebfc12eef2fdebceadc382121dd6, then? I also wasn't sure about it because of the commit message ("BROKEN: Update devDependencies."), but if it's alright to use that commit we'll go with it.

[2018-10-30 15:21] XhmikosR commented on #898
I'd say wait a bit, because the map files might no work everywhere yet due to a bug (which I have already reported months ago) and the map files wrongly use Windows slashes.

I'll get this done in a few minutes in a Linux VM. Otherwise the branch should be safe to use, yeah.

[2018-10-30 15:39] amycoffin commented on #919
@falquaddoomi I think for now, we are keeping it to the Expert Reviewed portal.

If there is a p.? in the hgvs protein field, I think we should display it, but if it is null, we should not.

[2018-10-30 15:57] XhmikosR commented on #898
Also, keep in mind that referencing hashes will break since the branch is rebased. You can just reference the branch. Or `master` if you handle the dist part in your build system.

[2018-10-31 01:54] zfisch commented on #571
The latest crawl (mentioned above) is now live at http://52.229.50.68:8008. I've attached a file that lists all the variants that have lit results from the crawl and are eligible for review.
[variants_with_lit_results.txt](https://github.com/BRCAChallenge/brca-exchange/files/2532391/variants_with_lit_results.txt)

[2018-10-31 16:09] amycoffin opened #926 "In Silico Heat Map does not scale down when used in a smaller window"
As seen below, the heat map display gets cut off if you make the brcaexchange window smaller or larger <img width="767" alt="screen shot 2018-10-31 at 12 07 48 pm" src="https://user-images.githubusercontent.com/25374391/47801993-bbcab880-dd05-11e8-85ef-548eae1d1e6b.png">

[2018-11-05 02:45] melissacline commented on #571
I've looked through some random hits in the crawl results, and overall I'm excited!  There were some false positives, but overall the text snippets were sufficient to weed out most false positives.   The false positives I noticed seemed to be tables where the gene name (BRCA1/2) appeared in one row, and the variant name appeared in a subsequent row (with a different gene).  I've attached my notes.

[2018-11-05 19:40] zfisch commented on #571
I noticed some "NaN" snippets too -- @rcurrie any idea what's going on there? As a more general note, it seems like we shouldn't report a match any time we can't display the snippet including the match.

[2018-11-05 20:28] #918 closed

[2018-11-05 21:05] #691 closed

[2018-11-06 18:54] zfisch opened #929 "include p. where c. is listed"
for headers on variant details page

[2018-11-07 03:31] rcurrie commented on #571
Feedback from Samantha pasted here from Slack:

*chr17:g.43092805:T>A* -  I couldn't find this paper through searches in pubmed or google using the usual script (see below).  Validated that it was a real paper.

"BRCA1" ("2726A>T" | "2726A->T" | "2726A-->T" | "2726A/T" | "Asn909Ile" | "N909I")

HGMD didn't have the paper we had, but has one that this search does not - Chen (2003) Breast Cancer Res

[2018-11-07 19:11] amycoffin opened #930 "Update Portal Names"
Expert Reviewed is now Summary View
All Public Data is now Detail View

I will search for any updates to docs and include it in the updates that I am already slating for beta.

[2018-11-08 21:51] #930 closed

[2018-11-13 19:10] zfisch opened #933 "Add likely benign and likely pathogenic to search"
ENIGMA has variants interpreted as “Likely Benign”, but the expert reviewed portal only supports searching on “Benign” and “Pathogenic”.  Let’s get “Likely Benign” added to the menu, which will hopefully be quick.  We might as well add “Likely Pathogenic” while we’re at it.

[2018-11-14 16:30] rcurrie commented on #571
Started full download of 16980 papers with BRCA in the title or abstract from pubmed.

[2018-11-14 22:40] zfisch opened #937 "tweak facts and stats bar chart display values"
Some confusion around displaying 0 (e.g. for likely pathogenic variants) and not displaying values that don't fit in the bar chart space provided.

[2018-11-15 23:01] #933 closed

[2018-11-19 18:45] rcurrie commented on #571
Download complete:
16980 papers attempted, 14088 papers successfully downloaded (83%) over 116 hours consuming around 20G of disk space. Moving on to convert, find and correlate.

[2018-11-25 22:44] rcurrie commented on #571
@zfisch @falquaddoomi Initial output from full crawl is available here:

http://public.gi.ucsc.edu/~rcurrie/literature-25-11-2018.json

# Papers: 14088
# Variants: 3754

Seems really low yield but though I'd circulate to see if it ingests into the sandbox.

[2018-11-26 21:46] amycoffin opened #939 "CI Domain change: Update In Silico Predictions Docs"
Update the references of the CI domains in the in silico docs to reflect Huntsmann defintions, and find correct paper to reference. (possibly Vallee, not sure).

[2018-11-26 21:48] amycoffin commented on #818
@falquaddoomi @zfisch last we discussed, this was an okay bug for now, but are we working on getting these ambiguities finally resolved?

[2018-11-27 17:52] falquaddoomi commented on #818
@zfisch No, that should do it. I'll merge the two categories ASAP. I presume the same applies to #816.

[2018-11-27 18:37] rcurrie commented on #571
As per call today here's the short term plan:

- [ ] @zfisch Put current file up in a sandbox with the new UI and @amycoffin get some impression level feedback from users. If its useful and the feedback is 'we'd rather have this as it is now vs. better later' then move forward with putting this into production.
- [ ] @rcurrie Trace through a few papers that yielded zero variants to see where the f

[2018-11-27 21:03] zfisch commented on #571
New lit search data is up at http://52.229.50.68:8008 and ready for review.

Note: Some papers are coming to us without a year associated with them, namely pmids: 27869446, 15258337, 10464643, and 10464641. @rcurrie is this an issue happening on the backend or is there a valid reason these papers have no year associated with them?

[2018-11-27 21:04] zfisch commented on #571
@amycoffin could you circulate this latest data for feedback?

[2018-11-27 23:58] amycoffin opened #941 "Functional Assay Tile update"
Current text: Results on functional classifications through saturation genome editing by the Starita lab at the University of Washington (Findlay et al, Nature, 2018). Please see their site for further information.

Change to: This histogram summarizes functional classification results from saturation genome editing, provided by the Starita lab at the University of Washington (Findlay et al, Natur

[2018-11-28 06:57] falquaddoomi commented on #571
@amycoffin Yes, that's the most current version of the UI.

[2018-11-28 20:47] zfisch commented on #571
Let's let @melissacline take a look and if she's ok with it, let's deploy it. We can discuss whether or not to include a beta tag as well.

In the meantime:

@rcurrie in the current deployment implementation, we add papers we don't already have in the db, then associate every variant found in literature.json with an existing paper and add it to the db. I plan to tweak this so we don't end up with

[2018-11-28 22:07] amycoffin commented on #571
@zfisch @rcurrie The GC meetings are happening next week, 12/3-12/7, and I think that we can expect a decision about whether LitSearch is good to go to beta either late Friday 12/7 or early Monday 12/10. I'd like to clarify that we are currently **good to circulate the sandbox for feedback, but I would still like the chance to double check the overall UI and Docs.** There might be one or two small

[2018-11-29 00:17] rcurrie commented on #571
@zfisch wrt dates it appears for those papers medlineCreatedDate is an empty string. But, for example, 'medlineCompletedDate': u'2018-04-23' is present - but I'm not sure its reasonable to switch to it completely. I'll do a bit of exploration in the papers db and get back to this issue, for its on the crawler's end.

[2018-11-29 00:21] rcurrie commented on #571
@zfisch The current implementation does correlate across all variants found so doing a soft delete at this point is probably the right thing to do i.e. assume literature.json replaces everything. I have not looked closely at how pubmunch handles incremental downloads (ie a few new papers were found and downloaded, are the added to the source mutations or a new file generated). I'm going to spelunk

[2018-11-29 00:41] rcurrie commented on #571
@zfisch Confirmed that those are the only four articles with missing year by looking at the original pubmed articles.db. Capturing in https://github.com/BRCAChallenge/pubMunch-BRCA/issues/7

[2018-11-29 19:49] amycoffin commented on #814
@zfisch I've integrated this into my ongoing site improvements project, and will get an update to you soon. It fell through the cracks.

[2018-11-30 20:16] amycoffin opened #942 "Update Literature Search Header"
<img width="1188" alt="screen shot 2018-11-30 at 3 00 41 pm" src="https://user-images.githubusercontent.com/25374391/49312610-a1c1f880-f4b2-11e8-816c-0b974beec984.png">

Sam strongly suggested a p. nomenclature being near the lit search to help weed out false positives. The difference in format between the "NM..." is imported from conversation with Mandy about nomenclature for the Summary View, an

[2018-11-30 20:43] amycoffin opened #943 "Updates to Copy & Export buttons"
1. The current copy-to-clipboard function does not contain all Journal information, such as volume and issue number, volume, or page numbers (i.e. "Nature 378 (1995),
789-792."). @rcurrie, is the title of the journal the only data provided about the journal in the original json? If so, we can document accordingly. If not, we should try and get the citation as close to the below format as possible:

[2018-11-30 20:46] amycoffin opened #944 "Retain Literature Search Tile, insert "none found" text"
If there are no Literature Search results, the Literature Search box disappears entirely. It would be better to have a box, similar to the In Silico Probabilities box, that just states that there is no data for that variant.

Make sure that it can be hidden as an Empty Item, per the "Hide Empty Items" button.

[2018-12-02 17:03] rcurrie commented on #571
@amycoffin @zfisch Something definitely wrong with my join of articles and mentions. Will have a new literature.json soon. Here's some counts by variant/pmid:

norm_g_hgvs                  pmid
NC_000001.11:g.100149376C>T  29868112    1
NC_000001.11:g.100149388del  29868112    1
NC_000001.11:g.100149427A>T  29868112    2
NC_000001.11:g.100152418G>A  29868112    4
NC_000001.11:g.100152424del  29868

[2018-12-02 22:10] rcurrie commented on #571
Aha! I see what's going on - its an an unintended consequence of the export format that I should have picked up. We have two dictionaries: papers and variants with the latter keyed by genomic hgvs so there is no possibility of more than one mention per variant listed.

@amycoffin the actual numbers are 55657 mentions that correspond to variants in BRCA Exchange extracted from 2227 papers. Here's a

[2018-12-03 02:39] rcurrie commented on #571
Max # Mentions for a variant: 38
Mean: 1.9
There appear to be duplicate mentions which we didn't see before due to the export problem. Going to see about filtering...

[2018-12-03 09:50] #926 closed

[2018-12-03 18:31] rcurrie commented on #571
I've generated a preliminary new export json with the "variants" key consisting of a dictionary by variant and in turn a dictionary of pmids:

http://public.gi.ucsc.edu/~rcurrie/literature-03-12-2018.json

As an example of a variant with multiple papers each of which has multiple variants:

[code]

@zfisch This may be harder to import though so the simpler alternative is to just have a flattened l

[2018-12-03 18:32] rob commented on #571
Unsubscribe from cat facts.

On Mon, Dec 3, 2018 at 1:31 PM Rob Currie <notifications@github.com> wrote:

[2018-12-03 18:55] rcurrie commented on #571
Zack and I just chatted and decided to just switch the "variants" key in the json to an array.

@zfisch I've updated http://public.gi.ucsc.edu/~rcurrie/literature-03-12-2018.json

[code]

[2018-12-03 18:56] falquaddoomi commented on #943
These are the fields we have for papers in the current version of the database:
- title
- authors
- journal
- url
- keywords
- abstract
- year
- pmid

It doesn't appear that the fields you asked for are currently part of the output, unfortunately.

In any case, I've made the change to the export button that you requested, and I've updated the copy-to-clipboard citations to appear like so:

Ahmadlo

[2018-12-03 20:38] amycoffin commented on #941
Add "SNVs" label to Y axis, and Function Score to X axis

[2018-12-03 23:38] rcurrie commented on #571
@zfisch Sorry - of course. "variants" now keyed by "pyhgvs_Genomic_Coordinate_38"

http://public.gi.ucsc.edu/~rcurrie/literature-03-12-2018-v2.json

[code]

[2018-12-03 23:48] zfisch commented on #571
Nice! Curious, any reason not to include all snippets for a single variant in the same paper in a list/set?

For example, the above would instead look like:

[code]

[2018-12-04 00:07] rcurrie commented on #571
No particular reason. Seems like it would make it cleaner on the database and UI. I'll noodle a bit more on the pandas and see if its reasonably straight forward.

[2018-12-04 19:17] amycoffin opened #946 ""More Resources..." tile on Summary View/Help links to an irrelevant paper"
Remove link on Summary View/Help/More Resources... Tile

(it links to Multifactorial Analysis paper, oops!)

[2018-12-04 20:30] rcurrie commented on #571
@zfisch @falquaddoomi Here's an updated json where each variant has a dictionary keyed to pmid and all mentions concatenated with |:

http://public.gi.ucsc.edu/~rcurrie/literature-04-12-2018-v1.json

Questions:
- Stick with '|', another character, or [ ]
- PMID key in variants is a string although its an int - this is due to python serialization. The pmid field in the article dictionary is an int.

[2018-12-04 21:38] amycoffin opened #947 "Add Contact Us Link to bottom left of Lit Search Tile"
I would like us to add an extra Contact Us link at the bottom left of Lit Search Tile, in the following context:

To report a false positive, or to include a paper that should be in the list, please [Contact Us].

I'd also like to potentially develop a Contact Us form, rather than a pop-up of the email software local to the user's machine (i.e. outlook).

[2018-12-04 21:50] zfisch commented on #571
@rcurrie Nice! To your questions:

Seems like a good use case for a postgres array, but I imagine it'll work well either way. If we use concatenation instead, let's make sure we're not using characters found in the snippets themselves (e.g. do a search to make sure our delimiter isn't present anywhere). @falquaddoomi any strong opinions on this?

also not a big deal imo, though if it's easy to mak

[2018-12-05 01:05] rcurrie commented on #571
'|' does appear to show here and there. @zfisch is it easy to import the array? Have we used this feature of postgres before? If so then I'll switch to array. Otherwise propose using '|||' as a separator to sort of match <<<>>>.

[2018-12-05 02:15] zfisch commented on #571
Yea, it's really straightforward, though we haven't used it before in this app. If we use arrays, here's a proposed json format per your previous sample:
[code]

[2018-12-05 16:38] rcurrie commented on #943
@amycoffin Here's what we get from the pubmunch crawler with an example values:

[code]

[2018-12-05 16:46] amycoffin commented on #943
@rcurrie I see that we get the volume, issue, and page which is exciting! Don't worry too much about about it this release, but if there is room in the data structures y'all are designating it is likely a good improvement to make in the future.

[2018-12-06 03:03] rcurrie commented on #571
Ok, I think I have it wrangled under control. Took quite a bit longer then I anticipated as I also had to deal with some of the mentions the crawler spits out with > 100 separate pieces slit by |. I've now switched to limiting them to only the first 3 as well as added a bit more pruning, de-duping etc...gory details [here](https://github.com/BRCAChallenge/pubMunch-BRCA/blob/docker/docker/export.ip

[2018-12-06 04:16] rcurrie commented on #571
@falquaddoomi Bit more detail on this new format and wrangling. Previously the 'snippets' sometimes has multiple strings separated by '|'. Most have a hand full but some have up to 100+ - all from the same article and and referenced against the same variant. I've pruned all these now splitting them up, keeping only 3 (based on the discussion on this weeks call) per variant per paper. These are all

[2018-12-06 19:35] rcurrie commented on #571
@amycoffin Here's some preliminary stats etc...

Max mentions for a single variant: chr17:g.43106487:A>C 1411
Max mentions for a single paper from one variant: ('chr13:g.32319082:G>A', '27490902') 19
Paper referenced from the most variants: 21990134 1633

Stats for mentions by variant:
count    3754.000000
mean       13.037027
std        39.876334
min         1.000000
25%         2.000000
50%

[2018-12-06 20:06] zfisch commented on #571
@rcurrie is http://public.gi.ucsc.edu/~rcurrie/literature-05-12-2018-v1.json ready to be deployed to a dev machine or are there further changes underway?

[2018-12-06 20:13] rcurrie commented on #571
@zfisch yes, please deploy. If the format works then we can freeze that so deploying will be a good test. I've been going through the new wrangling and feel relatively confident in it. But I now need other eyes to do spot checks to see if the snippets match up to the variants in real life (beyond my ad hoc) so deploying would be useful.

[2018-12-06 23:38] zfisch commented on #571
@rcurrie @falquaddoomi @amycoffin @melissacline Latest literature search data is now up at http://52.229.50.68:8008. This includes the latest changes to the UI (max 3 snippets/mentions per variant per paper, uses arrays for snippets/mentions instead of splitting on '|', etc.).

Please take a look to make sure all of your latest work is properly reflected, and note any issues here!

[2018-12-07 00:19] rcurrie commented on #571
@zfisch @falquaddoomi Suhweeet....

Variant with the most mentions: [chr17:g.43106487:A>C](http://52.229.50.68:8008/variant/172753)

[2018-12-07 19:19] amycoffin commented on #947
In Literature Search Results:

Current: The Literature Search results are displayed near the bottom of the Variant Details page in a table format. This table includes the title, authors, journal, publication date, publisher-provided keywords, the variant alias which matched in the search, and the PubMed ID (PMID). The PubMed ID may be clicked to access the article in PubMed. You may use the “Copy”

[2018-12-07 19:22] amycoffin commented on #922
@zfisch feel free to close this issue as far as I'm concerned, I accidentally created a new one that is redundant in topic.

[2018-12-07 21:09] zfisch commented on #571
@melissacline @amycoffin what are our final steps for having this beta ready? Are there any further reviews necessary or any missing features? Should we have @falquaddoomi add a little beta tag on the literature search tile with a brief explanation that this feature is still under development?

New data will be available for review by Monday at the latest (possibly EOD today) -- do we want to incl

[2018-12-07 21:11] amycoffin commented on #947
@falquaddoomi We should also add a beta tag, a standard one should do just fine.

[2018-12-07 21:12] zfisch commented on #571
Ah, I see issue #947 -- is that our final list of req's before beta deploy?

[2018-12-07 21:12] amycoffin commented on #571
@zfisch i agree that we should add a beta tag, mentioned it in issue #947. Once the three changes in that issue are made, I think its ready for beta

[2018-12-07 21:37] melissacline commented on #571
For beta, let's add the note that Amy describes about contacting us about false positives / missing papers.  For now, we can use the standard "contact us" email, brca-exchange-contact@genomicsandhealth.org.  As a next step in refinement, we can link to a comment form, as Amy describes.  In the worst case, if I get lots of email, that will tell me that lots of people are interested in the feature!

[2018-12-07 22:15] falquaddoomi commented on #947
Sounds good; I'll have some time to work on all the lit search issues, including this one, tomorrow.

[2018-12-08 10:36] #919 closed

[2018-12-09 20:12] amycoffin commented on #946
<img width="883" alt="screen shot 2018-12-09 at 3 12 24 pm" src="https://user-images.githubusercontent.com/25374391/49702313-dc1f4a00-fbc4-11e8-9d5a-b3373f36ae07.png">

Here is a screenshot of where the link is, on the Summary View Help

[2018-12-09 20:31] amycoffin commented on #946
I just noticed another weird link thing going on on Detail View Help:

<img width="875" alt="screen shot 2018-12-09 at 3 30 32 pm" src="https://user-images.githubusercontent.com/25374391/49702555-6c5e8e80-fbc7-11e8-8222-406218a5424b.png">

[2018-12-09 20:57] amycoffin opened #949 "Name Functional Assay Data "Starita 2018 Functional Scores.""
@melissacline and I discussed that the data should be called "Starita 2018 Functional Scores" (feel free to adapt to match other titles, like Starita_2018_functional_scores, in the tsv).

@zfisch @falquaddoomi
Zack, it is my impression that the data we are bringing in is the functional scores alone, so this name should work. Basically each variant in this experiment will have its own functional sc

[2018-12-09 21:10] falquaddoomi commented on #946
Are you seeing this on brcaexchange.org? I'm not seeing the chain-link icon in the "Outside Resources" header on my end, and I only see one link icon next to "Multifactorial Likelihood Analysis" in Detail View. I've tried it in Chrome (Windows, OS X) and Safari (OS X); let me know if you're using another browser and I'll try it there.

[2018-12-10 11:26] falquaddoomi opened #950 "Help page throws error on mode change and then causes visual glitches"
When attempting to switch the mode from detail to summary view, the help page throws the following exception:

[code]

The second click on the mode change button will appear to do nothing. The third click will produce the mode-switch prompt dialog, but will not appear to change the page. The click after that will re-render the page, with visual glitches introduced as reported in #946 (e.g., the ex

[2018-12-10 17:30] zfisch commented on #949
Some of our other sources have date fields, but none of those fields are shared across data (there are often nuances to what exactly the date fields refer to). E.G.:

Date_last_evaluated_ENIGMA
Date_Last_Updated_ClinVar
Created_date_LOVD
Edited_date_LOVD
DateSignificanceLastEvaluated_ClinVar

The shared date we use across data is the release date.

[2018-12-10 17:35] amycoffin commented on #949
Does it make any sense to just use release date? If I step back and think about a user downloading our data, I would find it confusing to navigate release date vs. date published; depending on what I originally downloaded it for, I might not even know one of those two fields exists. If it's too much to use release date, I might just vouch for our original name. Melissa should weigh in, too, though

[2018-12-10 21:18] zfisch commented on #949
Release date is already included :)

I'm just concerned about using a date in the source name in the case that the data is updated at some point. I imagine it would be confusing to give users data from 2019 that's listed as Starita_2018_functional_scores, and it will be a major pain to change the name throughout the app at that point.

[2018-12-10 23:13] amycoffin commented on #947
@falquaddoomi Is the Contact Us link included in these commits? Also @melissacline had a few comments (slightly updated) :

- [ ] Beta tag (example: This feature is in its beta phase, so please be aware of erroneous or missing results.) Include this statement at the bottom of the Help Page in bold, as well as on the Variant Details Page, somewhere under the header or beneath the table.
- [ ] Conta

[2018-12-11 14:17] #946 closed

[2018-12-11 14:17] #950 closed

[2018-12-11 16:59] melissacline commented on #949
The question I hear everyone asking is "when a functional assay team updates their scores, what does that update look like?".  I don't entirely know.  I expect that they'd publish a new article, and it would contain a set of scores that's different in some way (perhaps larger in scope, perhaps using a different reporter construct, and so reporting some other aspect of functionality).  If that's tr

[2018-12-11 17:55] falquaddoomi commented on #947
@amycoffin These are addressed as of commit 3e4153777dd7e6d191f835adcc31c748c4a65462 in the lit search UI PR.

[2018-12-11 18:01] falquaddoomi commented on #949
It's not static per se; in the current mockup, the histogram (and functional assay score for each variant, actually) are retrieved from a local JSON file extracted from [this spreadsheet](https://docs.google.com/spreadsheets/d/1IW99Cbm-QO461kc_O3q3pamuBfXWVe7lXfo67LuCFQ0/edit#gid=949185225). The file itself is static, of course, but I've written it so it's easy to switch over to the backend when i

[2018-12-12 21:30] rcurrie opened #952 "Update literature.json for papers added since Nov 11"
Running an incremental update of literature.json. The current version used in beta was based on papers with BRCA in title or abstract as of Nov 11 (16980). Today, Dec 12, there are 17098 for an addition of 118.

[2018-12-12 21:30] rcurrie commented on #571
I've started a new issue, #952 to track updating literature.json with papers added in the last month.

[2018-12-14 18:37] amycoffin commented on #949
Thanks @falquaddoomi ! That's helpful.

@zfisch, When the time comes to start integrating this data, I think that we should consider naming them ...function_scores rather than functional_scores, and I think we want to name Findlay instead of Starita. So the name might be Findlay_2018_function_scores or Findlay_function_scores. Melissa can confirm this assessment, but i think we are going to huddle

[2018-12-15 03:05] zfisch opened #955 "if variant is not changed related reports and report diffs are not updated"
In the case that a variant is not reported as having changed in a new release, all of it's related submissions/submission diffs will not be updated.

This raises a bigger question -- is it possible a submission could change without affecting the data at the variant level? And if so, do we want to report changes to that submission?

For example, see variant chr17:g.43094327:C>A and report NM_007294

[2018-12-16 19:34] rcurrie commented on #571
I've started an issue to track manual QC on randomly selected papers that fail to generate any mentiones https://github.com/BRCAChallenge/pubMunch-BRCA/issues/8

[2018-12-17 19:25] zfisch opened #956 "lovd diffs not displaying"
it seems they may not be added during deploy -- will report back

[2018-12-17 19:28] zfisch opened #957 "add link to mobile app page in footer"
link to: http://brcaexchange-dev.cloudapp.net/about/app

[2018-12-17 21:16] zfisch commented on #956
confirming that this is related to issue #955 and can be addressed in a followup

[2018-12-17 21:30] #957 closed

[2018-12-18 18:46] zfisch opened #959 "Improved analytics"
What major institutions are using the site?
How many people and who is using the API?
How many downloads of data?
How many clicks on different pmids?
Top papers?
Top variants?

[2018-12-18 18:48] zfisch commented on #959
@melissacline could you put these and any other questions you'd like answered in order of priority? We'll address them accordingly :)

[2018-12-18 21:21] rcurrie commented on #571
@melissacline your stats:
Crawled completed Nov 14, 2018
(embodied in literature-05-12-2018-v1.json which is our beta release of lit search):

[code]

[2018-12-18 21:36] zfisch opened #960 "update data deployment"
1. Need to be confident deployments will succeed and get a meaningful error if not.

2. Make sure deployments don't lock tables so users can still access (if they take > ~10 min)

3. Include simple commands to deploy locally, to dev, beta, and production. Really should be able to deploy to any machine but those should be automated.

4. Maintains existing functionality (deploys data, updates downlo

[2018-12-18 21:38] zfisch commented on #960
@falquaddoomi @izcram either of you particularly interested (and available) to work on this? No major rush, but worth putting on the radar. I can work on it if not.

[2018-12-18 22:41] melissacline commented on #949
@Zack Fischmann <zfischma@ucsc.edu> I'd love to have a general rule for
functional assay naming, but I think it just works best on a case-by-case
basis.  Let's name for the author and scope of the data.  For this one, how
about: Findlay_BRCA1_Ring_function_scores?  As for the disclaimer, how
about this: "Attention: we have not yet received reports of this variant in
any patients".

On Tue, Dec 18,

[2018-12-18 22:42] melissacline commented on #949
@Zack Fischmann <zfischma@ucsc.edu> one thing to have on your radar screen
is that we'll have in silico priors for a lot of the variants that  have
been seen only in the functional assays, and we'll want to report those
priors.

On Tue, Dec 18, 2018 at 2:41 PM Melissa Cline <melissa.s.cline@gmail.com>
wrote:

[2018-12-19 06:31] zfisch commented on #949
we're currently integrating all assays into the pipeline prior to the priors 😁 so they will indeed have in silico priors where applicable

[2018-12-19 12:02] falquaddoomi commented on #960
Sure, I'd like to look into it.

[2018-12-19 19:32] zfisch commented on #960
@falquaddoomi Awesome! Let me know if you need anything along the way or have any questions. The master script is at https://github.com/BRCAChallenge/brca-exchange/blob/master/deployment/deploy-data.

[2019-01-02 22:19] zfisch opened #962 "issue running ConvertEXLOVDBRCA2ExtractToVCF"
Getting the following error ever since the 12/6/18 release (doesn't error on brca1 data):

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/luigi/worker.py", line 199, in run
    new_deps = self._run_get_new_deps()
  File "/usr/local/lib/python2.7/dist-packages/luigi/worker.py", line 139, in _run_get_new_deps
    task_gen = self.task.run()
  File "CompileVCFFiles.p

[2019-01-03 00:51] #955 closed

[2019-01-07 23:24] zfisch opened #965 "variant searches are sending extra requests"
Typing into the search box sends 2 requests per search, some of which fail.

To recreate, enter a search term into the search box and watch the network tab.

Relevant code:
https://github.com/BRCAChallenge/brca-exchange/blob/master/website/js/VariantSearch.js#L60

[2019-01-07 23:32] zfisch opened #967 "add_annotation.py failing, prevents complete pipeline runs"
Getting a lot of these:

```requests.exceptions.HTTPError: 503 Server Error: Service Unavailable for url: http://rest.ensembl.org/vep/human/hgvs/13:g.32314585:T%3EC```

Usually within the first few variants, but not always the same variant.

[2019-01-07 23:34] zfisch commented on #967
@izcram if you have a chance, could you take a look at this before the dev call?

[2019-01-07 23:43] zfisch opened #968 "update webpack"
low severity issues with webpack v1

[2019-01-08 03:37] falquaddoomi commented on #960
@zfisch Just to give a quick status update, I've been focusing almost completely on getting it to run quickly in a single transaction (which would prevent it from leaving the db in an intermediate state should it fail, at least). I've found that loading the variant/report diffs into a temporary table via `copy from`, then using an `insert-select` loop to associate them with their respective varian

[2019-01-08 17:58] zfisch commented on #960
Nice! If we're able to upgrade postgres without too much trouble it certainly sounds like it would be helpful. Wanna give it a shot and see how it goes?

It's also ok to do a couple rounds of improvements if that's easier. For example everything before upgrading PG could be one PR and everything after could be another.

[2019-01-08 18:58] rcurrie commented on #571
Done! Congratulations to the the vast team that contributed to this feature going way back to Max's original pubMunch. I just happened to show up at the 11th hour to add a few bits and bobs.

[2019-01-08 18:58] #571 closed

[2019-01-10 21:06] amycoffin opened #971 "Fix Indentations on Variant Details Tiles"
The Allele Frequency Reference sets tile indents are not aligned, or rather, right aligned:
<img width="517" alt="screen shot 2019-01-10 at 3 43 29 pm" src="https://user-images.githubusercontent.com/25374391/50996979-68d56480-14f1-11e9-8fc8-443c3ab610a8.png">
I personally think that subtile titles (blue rows) should be Left aligned, to sort of mirror the main titles, but maybe this is just a matte

[2019-01-15 17:50] falquaddoomi commented on #971
Sure, that's doable; I should note that it'll introduce special cases for different variants of the collapsible tiles (they currently all share the same code). They're currently all styled that way because they're label-value pairs -- you'll notice that they have the same alignment as the label-value pairs inside the other tiles.

Still, I think it's worth it to give the LOVD titles a bit more bre

[2019-01-15 19:31] zfisch commented on #959
First question to answer:

how many people are clicking on any papers? i.e. sum of clicks on any pubmed ids

[2019-01-16 00:03] #965 closed

[2019-01-17 20:37] amycoffin opened #974 "Display Descriptions of Summary/Detail View with Hover Over"
Introduce explanatory hover-over text to the blue button, that differs depending on the view:

"The BRCA Exchange Summary view shows clinical significance from expert review by the ENIGMA consortium.  For additional variant information, click this button and switch to Detail View."

"The BRCA Exchange Detail View shows information drawn from multiple databases which have been curated per variant.

[2019-01-17 22:40] maryjgoldman commented on #974
Reads well! Just a few suggestions below. Take or leave them. :)

"The BRCA Exchange Summary View shows the clinical significance as reviewed by the expert ENIGMA consortium. For additional variant information, click this button to switch to the Detail View."

"The BRCA Exchange Detail View shows information drawn from multiple databases and is intended to provide professional users a set of annot

[2019-01-21 12:49] falquaddoomi commented on #974
The hover-over boxes also have a header; is there any opinion about what the text in the header should be? Currently, in PR #976 that implements the above change, the text is "Change View", but I can easily change it to something else.

[2019-01-22 18:43] amycoffin opened #977 "Create Data Flow Documentation"
Provide a help item that accessibly discusses the overall data flow on BRCA Exchange.

[2019-01-24 20:11] kpjonsson opened #981 "Missing variants"
Hi,

I'm querying the API as instructed in the tutorial notebook.

[code]

I expect this query to find this variant https://brcaexchange.org/variant/180754, but it does not. Any clue what's wrong?

[2019-01-29 23:41] #971 closed

[2019-02-04 01:58] kpjonsson commented on #981
Hi @zfisch. Any update or comment on this?

[2019-02-04 15:55] izcram opened #983 "Adding additional genes for ESP data source"
Start parametrizing pipeline with regards to which genes are being processed. In a first step, adding CHEK2, PALB2 and ATM for the ESP data source.
Routing the data past the variant merging step will be addressed in a separate issue.

[2019-02-04 16:50] amycoffin opened #984 "Remove pseudocode link from Priors documentation"
Existing Paragraph: "If you would like to take a closer look at how these probabilities are calculated, please visit the BRCA Exchange github to view the software’s code and code comments. You can also access the In Silico Prior Probabilities of Pathogenicity pseudocode [here](link....), which is an abridged, nonfunctional version of the code that helps the user better understand the logic impleme

[2019-02-06 20:27] amycoffin opened #985 "QA Beta"
- [x] links/functionality on variant details page

- [x] hover overs/question mark links on variant details page

- [x] links/functionality throughout Help/FAQ

- [x] variants table functionality

- [x] Links & Functionality throughout More pages

- [x] Summary View check-up

[2019-02-06 20:32] amycoffin commented on #985
@zfisch @melissacline
Download button is broken, downloads empty tsv file:
<img width="1165" alt="screen shot 2019-02-06 at 3 30 54 pm" src="https://user-images.githubusercontent.com/25374391/52371757-5c76f580-2a24-11e9-82e7-e3e489822272.png">

[2019-02-07 18:40] zfisch commented on #985
@amycoffin thanks for finding this, looking into it

[2019-02-09 03:38] zfisch commented on #985
Noticed the same issue with the download button on dev/beta/prod.

I spent a good deal of time trying to understand what's going on, but I'm currently stumped. The strangest part is that I'm able to get proper output from a dev server http://brcaexchange-dev.gi.ucsc.edu:9003 using the same code, database and machine (both are running the latest master and pointing to the storage.pg db on http://br

[2019-02-11 10:05] falquaddoomi commented on #985
@zfisch Sure thing, currently looking into it. My guess is that it's a filesystem permission issue; the postgres "COPY TO <filename>" command runs in the database server's process, so perhaps in production something is stopping postgres from getting write access to the temporary file that the Django server process created. That'd explain why your test works, since it's still the Django process tha

[2019-02-11 10:31] falquaddoomi commented on #974
@amycoffin Would you prefer the cursor to turn into a hand icon instead? I agree that the question mark implies that the thing over which you're hovering over is static. I can also bold the text as you requested, but I think the cursor change is more subtle.

[2019-02-11 16:34] amycoffin commented on #974
@falquaddoomi I think that is a good idea, too. I just feel like the descriptions are slightly too long for a user to actually get to the end and say, "oh i can click this to change the view."

Also, per Mandy from EGG I think we want to tweak the wording a bit, which makes things a bit longer:

Summary view hover:
The BRCA Exchange Summary View shows the clinical significance as reviewed by the C

[2019-02-11 16:35] amycoffin commented on #985
@falquaddoomi There is also one broken link to cancer.gov in the first entry of Summary View/Help/Outside Resources "National Cancer Institute"

[2019-02-11 22:46] zfisch commented on #985
@amycoffin All of the latest code is now on beta. Please take a look and let us know if there are any further updates needed :)

W.R.T. postgres permissions, I merged Faisal's update to use STDOUT instead of the old tempfile method -- I'm still unsure why that became an issue only recently, but I'd like to refocus on other issues at the moment and prioritize getting everything in order for release

[2019-02-12 03:35] zfisch commented on #981
Hi @kpjonsson, apologies for the delayed response. I haven't had a chance yet to delve into this but it's on my radar.

In the meantime, what are you hoping to accomplish by retrieving this data? Maybe I can point you to a workaround?

[2019-02-12 12:09] kpjonsson commented on #981
@zfisch: I'm querying a set of BRCA1 and BRCA2 variants, mainly to retrieve the pathogenicity annotation from ENIGMA. As far as I'm aware that annotation isn't readily available anywhere else. Is that true?

[2019-02-12 19:03] #985 closed

[2019-02-12 19:11] melissacline opened #990 "Provide the ability to print the varaint details page"
From Marco Montagna <marco.montagna@iov.veneto.it>

Please could you tell me if there is any way to print the results of a specific variant?
we tryed with different browsers but, once printed the different boxes inevitably overlap masking part of the information.

[2019-02-12 21:30] zfisch commented on #981
Gotcha -- we're working through some issues at the moment but hopefully the following will get you what you need in the meantime.

You can always download the latest data from brcaexchange.org at https://brcaexchange.org/backend/downloads/releases/current_release.tar.gz. After unzipping, navigate to output/release/built_with_change_types.tsv and you can find all of the data on our site in tsv form

[2019-02-13 00:08] zfisch commented on #990
@melissacline are there any specifics about what can and can't be omitted during print out? It may be that extra work is required to include extraneous information.

[2019-02-13 13:41] kpjonsson commented on #981
Yep, this is great. The variant is in there and this table is easy enough to query. Thank you.

[2019-02-14 00:07] kpjonsson commented on #981
I really think you should keep this issue open unless you think that the issue is resolved. But that is your choice.

[2019-02-14 23:39] zfisch commented on #981
@kpjonsson fair, reopening for future consideration

[2019-02-14 23:43] zfisch opened #993 "indeterminate BIC pipeline errors"
Documenting in case this happens again -- haven't seen it before but it caused an output of 0 BIC variants in a pipeline run on 2/14/19. Rerunning the BIC tasks produced a proper output.

[code]

[2019-02-19 02:38] zfisch opened #995 "apache memory leak on brcaexchange.org"
After running over the course of a few/several hours, apache eats up memory and the machine starts swapping, which causes website lag. Restarting temporarily resolves the issue. Ran apt-get update && apt-get upgrade, but will require further work to diagnose if the problem persists.

[2019-02-19 16:33] falquaddoomi opened #996 "Lit. search results stretch out the page"
The literature search text match results often contain long strings of non-breakable symbols, causing the page to stretch horizontally to accommodate the strings. Forcing breaking and wrapping of these strings will allow the page to fit to the viewport correctly.

[2019-02-19 17:02] amycoffin opened #997 "Add "Synonyms" section to Variant Nomenclature Tile Docs"
The Variant Nomenclature Tile has been updated to reflect synonyms, and we should add a tidbit about that in the docs. @zfisch , do these synonyms originate from ClinVar?

[2019-02-19 20:15] zfisch opened #999 "missing images on community pages"
Probably lost during machine transfer, might be others missing.

From error.log:
[code]

[2019-02-20 01:26] zfisch commented on #997
Synonyms originate in a few places:

"BIC_Nomenclature", "BIC_Nomenclature_exLOVD", "BIC_Designation_BIC", "Synonyms_ClinVar" and we also generate some during normalization -- e.g. if we reformat or normalize a variant name, we make sure any transitional names are added to the synonyms field

[2019-02-20 02:54] zfisch opened #1000 "functional assay final tweaks"
This issue serves as a master list of issues to resolve before v1 release of functional assays (related to #941 and #949).

I'll keep http://brcaexchange-dev.gi.ucsc.edu:9003/ up to date periodically as we resolve outstanding tasks, it currently has a dataset generated 2/14/19 including Findlay Ring Function Scores.

@falquaddoomi I combined the functionalAssayBackend and functionalAssayUI branche

[2019-02-20 17:28] amycoffin commented on #1000
@melissacline @falquaddoomi @zfisch FYI, here is a variant that has functional assay results:

http://brcaexchange-dev.gi.ucsc.edu:9003/variant/207495

[2019-02-20 17:37] amycoffin commented on #1000
@falquaddoomi @zfisch
<img width="481" alt="screen shot 2019-02-06 at 1 26 29 pm" src="https://user-images.githubusercontent.com/25374391/53111608-5cd6bc80-350b-11e9-964f-24cc0740fa02.png">
Here is the most updated wireframe. Noted differences are:
[ ] Add disclaimer between tile title and subtiles: Please note that functional assay results reflect laboratory models of disease, and should not be u

[2019-02-20 17:45] amycoffin commented on #977
I am working with McKenna on this.

[2019-02-20 18:38] amycoffin commented on #1000
Regarding @zfisch 's ask about column selectors, I am ambivalent as to whether we include a function scores column selector with this release, or just add it to the list of column selector revamps we are trying to mobilize anyways.

[2019-02-20 18:42] amycoffin commented on #910
- [ ] Design a UI change that makes it more obvious when filters are on

[2019-02-20 18:43] amycoffin opened #1001 "Update Column Selectors"
- [ ] Add column selector for In Silico Prior Probabilities (overall prior displayed)
- [ ] Add column selector for Literature Search results (number of papers displayed in column)
- [ ] Add intron/exon number column selector and/or filter (to be approved)
- [ ] Add Functional Assay Results (or Findlay Function Scores?) column selector (displays function score)

[2019-02-20 18:45] amycoffin commented on #941
These changes is reflected in current UI, and are included in materials being reviewed by EGG. No longer needs to be a separate issue.

[2019-02-20 18:45] #941 closed

[2019-02-20 18:56] amycoffin opened #1002 "content tweak: what-is-the-brcaexchange.md"
Melissa suggestion, Mandy approved:

There's this paragraph, which is currently part of "What is BRCA Exchange?"

"There are two data views used by BRCA Exchange to aid researchers and clinicians who work with BRCA1 and BRCA2. The Summary View of BRCA Exchange will only display variant aliases, ENIGMA variant interpretations, and a brief interpretation history. The ENIGMA Consortium assesses varia

[2019-02-21 00:19] #996 closed

[2019-02-21 23:38] zfisch commented on #1000
@amycoffin could you take a look at http://brcaexchange-dev.gi.ucsc.edu:9003 and let me know if there are any more changes needed?

[2019-02-22 00:19] amycoffin commented on #1000
@zfisch I don't see any more changes needed, though I wonder about the weight of the line.
@melissacline do you think the weight of the dotted line is heavy enough?

Also I have the docs all ready in a branch that I can make a pull request for once we get the okay.

[2019-02-22 16:49] zfisch commented on #1000
Just tweaked the line to make it move visible 👍

[2019-02-26 18:22] amycoffin commented on #1000
@zfisch Melissa and I discussed it yesterday, and I think that the line was fine as it was before. A few final tweaks:

- [ ] Make dotted line weight thinner
- [ ] Add colon after "Publications the report on the accuracy of this assay:" instead of the period
- [ ] Make 3 'columns' out of the subtile header so that alignment resembles that of ClinVar subtiles (it looks like two right now). Remove P

[2019-02-26 18:46] falquaddoomi opened #1005 "planning for more (and more dynamic) functional assays"
Currently, functional assay (FA) scores are implemented in the variant table and psuedo-namespaced by an affix in the column name (e.g., "Functional_Enrichment_Score_Findlay_BRCA1_Ring_Function_Scores"). This may become cumbersome as we introduce new types of functional assays. Ideally, we'd have a separate table that relates variants to different types of functional assay scores. (Versioning that

[2019-02-26 19:18] zfisch opened #1008 "February release todo's"
@melissacline  @amycoffin :
(please feel free to submit PRs for each issue or forward relevant content to @zfisch and he can submit PRs for your review)

- [x] update release notes for 2/14/19 data (first release with FA)
- [x] update disclaimer for FA tile
- [x] update top level readme of data download for FA (and other sources?)
- [x] update literature results beta disclaimer
- [x] send final da

[2019-02-27 00:46] zfisch commented on #1000
@amycoffin should "Publications the report on the accuracy of this assay:" be "Publications **that** report on the accuracy of this assay:"?

[2019-02-27 16:01] amycoffin commented on #1000
@zfisch sorry, yes. "Publications that report on the accuracy of this assay:" is correct.

[2019-02-27 16:18] amycoffin commented on #1008
@zfisch feel free to change the first sentence of the LitSearch docs:

Current: "Literature Search is a beta feature, so please beware of erroneous or missing results."

Update: "Literature Search is a beta feature, so please beware of erroneous or missing results. To report this error, contact us." (Make contact us the same contact us link used elsewhere.)

[2019-02-28 00:01] melissacline commented on #1008
Text for release notes:

This release incorporates functional assay scores by FIndlay et al (PMID: 30209399).  This assay applies Saturation Genome Editing and a haploid cell line to derive a functional readout of virtually all missense variants in the BRCA1 RING domain, including variants that have not yet been observed in patients.

[2019-02-28 00:37] melissacline commented on #1008
[built_with_change_types.dictionary.xlsx](https://github.com/BRCAChallenge/brca-exchange/files/2912846/built_with_change_types.dictionary.xlsx)
Here is the data dictionary, checked over and ready to go.

[2019-02-28 00:44] melissacline commented on #1008
[README.txt](https://github.com/BRCAChallenge/brca-exchange/files/2912861/README.txt)
Here is an update for the top-level README for the data bundle

[2019-02-28 00:49] melissacline commented on #1008
Here is a better version, with the contact info from #1000
[README.txt](https://github.com/BRCAChallenge/brca-exchange/files/2912878/README.txt)

[2019-02-28 00:50] melissacline commented on #1000
[README.txt](https://github.com/BRCAChallenge/brca-exchange/files/2912884/README.txt)
Here is the updated README, also attached on #1008

[2019-02-28 21:41] zfisch commented on #1008
@melissacline I noticed the data dictionary is in .xlsx format -- would it make sense to use .tsv instead? I don't have excel, not sure if other users might run into a similar issue.

[2019-02-28 21:59] melissacline commented on #1008
Good point.  Here is the .tsv file (in the zip, github doesn't like tsv attachments) and an updated README.txt

[README.txt](https://github.com/BRCAChallenge/brca-exchange/files/2917061/README.txt)

[tmp.zip](https://github.com/BRCAChallenge/brca-exchange/files/2917081/tmp.zip)

[2019-03-01 18:13] amycoffin commented on #1008
@zfisch : This disclaimer has the most approval at the moment. I think it's fine that we might get more feedback on wording during beta:

Please note that these experiments may include variants that have not been observed in clinical contexts. Furthermore, functional assay results reflect laboratory models of genetic variation and disease. Thus, these results should not be used as a proxy for clin

[2019-03-06 23:34] melissacline commented on #1008
We didn't get any further feedback on yesterday's EGG call, so it looks like we can move forward with this one single item.

[2019-03-07 01:40] zfisch commented on #1008
@amycoffin is the final content for beta ready for a pr? I understand there’s a minor change we want to make before production deploy — or is beta currently ready to go?

[2019-03-07 14:06] amycoffin commented on #1008
@zfisch I just noticed an unwanted extra space in the first sentence of documentation:

 ...variants in functionally  critical domains...

Other than that, the disclaimer has been approved by Sam. I tried reworking it along Mary's feedback, but it wasn't really working. The information is there, and accurate, so any improvements can be made in future releases.

tl;dr other than the random unwanted

[2019-03-19 20:46] #1008 closed

[2019-03-19 20:50] zfisch opened #1023 "update UI around showing old versions of variants"
Questions:

1. Do we want to allow users to view old versions of variants or default to showing the latest version?
2. Do we want full variant/report history for old versions of variants or only up to the date of a specific version's most recent update?

[2019-03-19 21:04] zfisch opened #1024 "integrate gnomad data into automated pipeline"
https://gnomad.broadinstitute.org/gene/ENSG00000012048?dataset=gnomad_r2_1_non_cancer

[2019-03-19 21:06] zfisch opened #1025 "add gnomad data to ui"
- [ ] Include in filters / column selection
- [ ] Include in variant details page
- [ ] Determine how to relate gnomad and exac data

[2019-03-20 16:46] #983 closed

[2019-03-26 17:43] zfisch opened #1027 "include lit results crawl date in ui"
Include literature results crawl date at top of literature results. e.g. "Literature Search Results (as of mm/dd/yyyy): "

[2019-03-27 17:03] amycoffin opened #1029 "Reorganize "More" Pages and Directories"
When looking at the "more" content, I realized that there are a lot of old files floating around.

Two examples include:
1. there is a "history.md" that is referenced in:
       brca-exchange/website/js/content.js
But then the same/analogous content is hardcoded into:
       brca-exchange/website/js/FactSheet.js

2. According to google analytics, there is a ghost page that gets hits, presumably th

[2019-03-27 17:53] #1027 closed

[2019-04-02 17:47] zfisch commented on #359
@melissacline just about where we started...

this came up on the call again today, adding @izcram in case either of us has some dedicated time to devote to it.

[2019-04-09 17:32] amycoffin opened #1033 "Brainstorm Bounceback Reduction for Home Page"
- one option is good examples of variant details
- most common search term is BRCA1
- we need a 'next click' page that is a hook; picture should be there

[2019-04-10 21:39] zfisch commented on #1033
Added @melissacline to this issue.

Some background: On the 4/9/19 dev call we discussed ways to encourage users to interact further with the site. One of the primary suggestions was to include some links to variants of particular interest just below the search bar. We'll also have improved analytics following the next production release which should help us better understand bounce rates -- we do

[2019-04-15 22:44] amycoffin opened #1035 "Delete FAQ tab"
Since the reorganization includes all FAQ items, the FAQ tab can now be deleted. I didn't include this in the reorganization because it was beyond the scope of what js I felt comfortable editing.

[2019-04-15 22:45] amycoffin commented on #1029
@zfisch is this worth doing as part of the analytics project? It would create less pages to manage overall

[2019-04-16 02:01] zfisch commented on #1029
@amycoffin there's might be some crossover -- we can associate the issue regardless. removing unused files won't affect SEO but dead links definitely will.

[2019-04-23 00:15] amycoffin commented on #1035
@zfisch what are the chances of this getting done by the next release?

[2019-04-23 01:40] amycoffin opened #1037 "Create Help Item: Patient-facing Previous Version Navigation"
Help patients navigate previous versions table on Summary View and relate it to when to contact clinicians. Low priority for now, but ultimately could help make Summary Side more engaging for patient users.

[2019-04-23 16:59] falquaddoomi opened #1038 "javascript error when there are no referenced papers"
When accessing a variant for which there are no papers (e.g., https://brcaexchange.org/variant/169203), the page throws the following exception:

[code]

I assume this is because `this.state.papers[0]` is null, causing the reference to `crawl_date` to fail.

[2019-04-30 17:26] amycoffin opened #1042 "Update Question Mark Links to Help Page"
Fix the Variant Details Question Mark --> Help Page Tile functionality.

Currently, on production, the Functional Assay question mark does not auto-open the tile. Otherwise, they are working as expected. I also notice that on production, there are missing question marks on the Clinical Significance (LOVD) and Clinical Significance (ClinVar) tiles. There should be a grey question mark to the right

[2019-04-30 17:43] zfisch commented on #1042
@falquaddoomi is this something you can tackle before Thursday or shall I take a crack at it?

My main concern prior to the production deployment is making sure we're not introducing any new problems, but of course if it's trivial to fix other issues along the way, let's do it!

[2019-04-30 19:09] falquaddoomi commented on #1042
@zfisch Sure, the issue isn't hard to fix. The root of the problem seems to be that many of the `id` fields that associated the help buttons with the headers in the help doc went missing when they were updated. I'm going through the help buttons and re-adding the id fields at the moment; I'll post a PR shortly (definitely before Thursday).

Regarding the missing question marks on the report tiles,

[2019-04-30 20:11] amycoffin opened #1044 "Dynamic Visualization of Venn Diagram"
This might not be a top priority issue, but I was wondering if we might be able to create a dynamic visualization from this figure, for the purposes of updating the "What is the BRCA Exchange?" docs per [this new draft](https://docs.google.com/document/d/1bfyO7YJ0CsaS10W-HCXRg4T_MTp1O1Dx1KgLlU_PAPk/edit?usp=sharing).
![ContributorFigureAug15](https://user-images.githubusercontent.com/25374391/5699

[2019-04-30 20:34] amycoffin commented on #1042
@falquaddoomi can you point me to the file where ids are kept, so if my editing messes this up in the future I can re-add?

[2019-04-30 23:58] #1042 closed

[2019-05-01 09:57] falquaddoomi commented on #1042
@amycoffin Sure, they're in the file `website/js/content.js` in the `helpContentResearch` variable.

For instance, this line makes the panel "What are the fields in the Variant Nomenclature Tile?" linkable via the symbol "variant-nomenclature": https://github.com/BRCAChallenge/brca-exchange/blob/master/website/js/content.js#L203. When the `id` field isn't specified the panels get a "slugified" ver

[2019-05-01 18:54] amycoffin opened #1045 "left-align title for summary view"
Per UX coursework, apparently the gaze focuses on top-left of page, rather than top center. This is probably a good indicator that the variant name should be at top right for the Summary View of variants.

Make a decision and then report to Zack/Melissa about next steps.

[2019-05-14 17:17] zfisch opened #1048 "BIC updates"
BIC update -- add notification, reuse existing data, stop using BIC in overall pathogenicity determination

wireframe: https://docs.google.com/presentation/d/1CpqoXilGvnhu2Y2pLo4LkktGlStqROCpjWg13p1uM-A/edit#slide=id.g59d0256d17_0_0

[2019-05-14 17:36] zfisch opened #1049 "URL redirection"
- [x] URL redirect to latest version of a variant by default with notice and link to old version
- [x] Update wording around data from other (future) versions of a variant
- [x] Allow parameter use to suppress redirection message
- [x] Notify user if there's a newer version of a variant and provide a link

Also worth reviewing what data is displayed when viewing older versions of a variant.

wiref

[2019-05-14 17:40] zfisch opened #1050 "ClinVar condition field"
Pull condition from clinvar xml and display in UI (preserve links)

https://docs.google.com/presentation/d/1CpqoXilGvnhu2Y2pLo4LkktGlStqROCpjWg13p1uM-A/edit#slide=id.g59d0256d17_0_0 

[2019-05-15 20:45] #1048 closed

[2019-05-18 16:28] falquaddoomi commented on #1049
I've submitted a first pass at this in PR #1052. The verbiage and appearance of the notices might need to be tweaked a bit, but otherwise it's working.

I was surprised to discover that the site currently displays the newest data for the variant regardless of what version is actually requested. I've changed that behavior to instead look up the data corresponding to the ID the user specified.

[2019-05-21 23:58] zfisch opened #1055 "remove Summary Evidence and Description ClinVar fields from column selection since they're only on the report and not the variant"
Causes an error that breaks down the variants table.

To recreate: to go variants table, select Summary Evidence or Description ClinVar from column selector, then sort by either field (might need to sort descending and then ascending to see the error).

[2019-05-22 14:20] falquaddoomi opened #1057 "Create a mapping file that relates variant IDs to built_with_change_types.tsv"
Currently, there isn't an easy way to construct a URL for a variant on BRCA Exchange from the release archives. I recall this feature being requested by a third party that eludes me right now, and it'd be useful for me for constructing a sitemap to submit to Google. Ideally (IMVHO) we'd have a stable externally-meaningful identifier that we could use in the URL, but I presume that's still a ways o

[2019-05-22 19:07] zfisch commented on #1057
@falquaddoomi This seems like a solid approach, I say go for it. If you're working from built_with_change_types.tsv, use the pyhgvs_Genomic_Coordinate_38 column instead of Genomic_Coordinate_hg38 since the latter is not normalized and actually gets thrown out during deployment. I'd also recommend coordinating with @izcram as he's currently refactoring brca_pseudonym_generator.py (where pyhgvs_Geno

[2019-05-22 20:49] #1055 closed

[2019-05-23 16:25] amycoffin opened #1058 "Beta Fix: Summary to Detail View Pop-Up problem"
When on a variant details page, I clicked from detail view --> summary view --> detail view. When doing so, the normal pop up came up. Upon clicking "Yes," the pop up doesn't go away. It sort of exhibits behavior as if it will go away (floats up quickly), but remains as I try and navigate the page.  The "No" button doesn't make it go away either. When I refresh, I am in detail view.

This behavior

[2019-05-23 16:39] amycoffin opened #1059 "Ensure that all populated tiles expand upon landing on or refreshing a variant details page"
This is not a barrier to May release.

However, if you collapse tiles on one Variant Details Page, they stay collapsed as you continue to navigate other variants. This can hide data from users. Ideally, any time you land on a new variant details page, or even refresh a page, all data should be displayed regardless of previous user behaviors.

[2019-05-26 22:09] melissacline commented on #1059
That's debatable.  Certain users might want to keep certain tiles collapsed indefinitely, in which case we'd be doing them a disservice by expanding them with each new variant.  As long as the tile doesn't disappear from view completely, we're arguably fine.

[2019-05-26 22:18] melissacline commented on #1058
Good catch, @amycoffin !

I'm seeing the same thing on beta, and here's the information I can add.
1. On the home page, I can toggle between detail view and summary view and back to detail view by clicking on the blue summary/detail view box, with the expected behavior.
2. On the variants page, I can do the same.  By clicking on the detail/summary view box, or by clicking on "Show Summary Data Onl

[2019-05-26 22:25] melissacline opened #1060 "Strange packing of tiles in Summary view on beta"
On beta, when you view a variant in Summary view, there is whitespace at the upper left of the screen where the first tile should be.  See the attached screen shot.  This isn't happening on production.

<img width="1111" alt="Screen Shot 2019-05-26 at 3 23 03 PM" src="https://user-images.githubusercontent.com/1714823/58387810-4d638580-7fca-11e9-9f86-35638ed515d8.png">

[2019-05-28 00:00] melissacline opened #1061 "Erroneous variants suspected to be introduced by off-by-1 errors in pyhgvs translation"
Johan and a colleague noticed something strange: examples of insertion variants that inserted the same string, but had positions that were one base different.

NM_007294.3(BRCA1):c.3075_3076insGGAAAACTTTGAGGAACATTCAATGTCACCTGAAAGAGAAATGGGAAATGAGATCATTCCAAGTACAGTGAGCACA
(p.Ile1026Glyfs)
NM_007294.3(BRCA1):c.3076_3077insGGAAAACTTTGAGGAACATTCAATGTCACCTGAAAGAGAAATGGGAAATGAGATCATTCCAAGTACAGTGAGCACA
(p.

[2019-05-28 16:51] amycoffin commented on #1025
Here are the wireframes for implementation:
https://docs.google.com/presentation/d/1QY4zfMG0eI3a2IckTZviCeZxX0Knf0AOQbtZkj2h3rk/edit#slide=id.p

Regarding "relating gnomad and exac" in terms of the UI, it is okay to have two separate subtiles.

[2019-05-28 16:52] zfisch commented on #1060
Curious, @melissacline do you see this upon first loading the page or only after switching to summary view from detail view? Also, what browser window size are you seeing this on?

I currently only see it happen if I switch from detail to summary view, but not if I load summary view directly.

[2019-05-29 00:03] #1060 closed

[2019-05-29 16:54] zfisch commented on #1059
I also understood that storing collapsed vs expanded tiles in local storage is intentional -- i.e. if a user collapses a tile, it stays collapsed regardless of refresh until they expand it again or clear their browser cache.

@amycoffin @melissacline Can we mark this issue as closed or does it need further discussion?

[2019-05-29 17:42] amycoffin commented on #1059
@zfisch yeah let's go ahead and close it, as long as it's been discussed and it's intentional

[2019-05-29 17:53] #1059 closed

[2019-06-07 17:49] #1058 closed

[2019-06-07 17:50] #1049 closed

[2019-06-07 17:50] #990 closed

[2019-06-07 17:50] #995 closed

[2019-06-07 17:50] #1023 closed

[2019-06-07 17:50] #1035 closed

[2019-06-07 17:50] #1038 closed

[2019-06-07 17:51] #952 closed

[2019-06-07 17:51] #960 closed

[2019-06-07 17:51] #949 closed

[2019-06-07 17:52] #868 closed

[2019-06-07 17:52] #908 closed

[2019-06-07 17:54] #224 closed

[2019-06-11 18:32] falquaddoomi opened #1066 "extract API usage stats from Apache logs"
It would be useful to report on API usage in addition to site usage (for which we already use Google Analytics).

Ideally, we should first determine what's being logged, then figure out what we'd like to include in the report. Before that, it's probably a good idea to add the "User-Agent" and "Referer" headers to the logs if they're not already being logged, so that we can use them to disambiguate

[2019-06-11 18:56] falquaddoomi commented on #1066
After some investigation it looks like we're already logging the `User-Agent` and `Referer` headers as a result of using [CustomLog's combined format](https://httpd.apache.org/docs/2.4/logs.html#combined) in our Apache config.

Specifically, the "combined" format string is `"%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\""`.Here's an example log entry from `access-beta.log` (IP redact

[2019-06-11 20:20] melissacline commented on #1066
Thanks, this is super-helpful!

Do we have a record of the types of API methods that are being queried?  Here's what I'm thinking:
- how many API queries are search_variants vs. get_variant vs. get_variant_set?
- what is the size of the response?  i.e. how much data is being delivered per time interval (e.g. month) via the API?  It looks like the %O and %S flags might get at this.

[2019-06-13 22:46] zfisch opened #1067 "Old versions of variants pull up most recent reports -- should pull up reports from the same release as that version of the variant"
For example, see https://brcaexchange.org/variant/194982?noRedirect=true

Notice all of the reports displayed are from the May 15 2019 release even though the variant is from Jan 15 2019. Expected behavior would be to display reports from Jan 15 2019.

[2019-06-14 19:33] amycoffin opened #1068 "LOVD Tile displays redundant dates"
The same dates are listed many, many times for a submitter on [this variant.](https://brcaexchange.org/variant/229542)

<img width="444" alt="Screen Shot 2019-06-14 at 3 16 50 PM" src="https://user-images.githubusercontent.com/25374391/59533470-8c924180-8eb9-11e9-8723-e6b1b5565e68.png">
<img width="445" alt="Screen Shot 2019-06-14 at 3 17 03 PM" src="https://user-images.githubusercontent.com/25374

[2019-06-25 18:51] zfisch commented on #1024
![](https://github.trello.services/images/mini-trello-icon.png) [GnomAD](https://trello.com/c/yB9TvZcr/12-gnomad)

[2019-06-25 19:32] zfisch commented on #890
@amycoffin following up on this issue, is this resolved?

[2019-06-25 19:53] zfisch opened #1074 "add donate button"

[2019-06-26 14:24] amycoffin commented on #910
@zfisch this is the issue for the filter indicator. Here's a screenshot of what I'd like it to look like:

<img width="810" alt="Screen Shot 2019-06-26 at 10 24 38 AM" src="https://user-images.githubusercontent.com/25374391/60188040-a2c6c880-97fc-11e9-9599-b8c867812ef7.png">

[2019-06-26 14:27] amycoffin commented on #1001
@zfisch I'd like this one to stay open, because I think some meaningful work can be done on filters, but ultimately it's very low priority. Not until users ask for better filtering will this become relevant. It'd be nice if we empowered users to custom-filter our data to streamline their research, but its pie-in-the-sky for now.

[2019-06-26 14:30] amycoffin commented on #974
@zfisch I think this one is ready to close

[2019-06-26 14:35] amycoffin opened #1077 "Provide Search Functionality from Variant Details Page"
Per some preliminary user feedback from Michael, this can be done one of two ways; the decision is pending EGG review:

<img width="703" alt="Screen Shot 2019-06-26 at 10 32 54 AM" src="https://user-images.githubusercontent.com/25374391/60188735-cb02f700-97fd-11e9-9556-0c02a0209f07.png">

<img width="697" alt="Screen Shot 2019-06-26 at 10 32 08 AM" src="https://user-images.githubusercontent.com/25

[2019-06-26 14:39] amycoffin commented on #1077
@zfisch I can't seem to access the "To do" label to automatically put this into the back log.

[2019-06-26 14:55] amycoffin commented on #1074
Here are the wireframes for the donate button:
https://docs.google.com/presentation/d/1oPuG3hzzTNmC7kT3HGvVyZaOhDLV6ic3X8O3JRG7D70/edit?usp=sharing

@melissacline I consider it medium-to-high priority to update the "This Site" page to be more donor friendly. I can streamline that ASAP, using grant materials and the GA4GH videos. This is easier than tackling any of the content on the Facts & Stats

[2019-06-26 18:20] zfisch commented on #1077
@amycoffin needs to be added to the project "Project Management" first :)

I think it will automatically move to the backlog when it's added to the project, but we'll see.

[2019-06-26 18:21] #974 closed

[2019-06-26 19:46] zfisch commented on #1074
Looks good -- I understand the donation form and processing will be managed by somebody other than ourselves and we're just linking to it -- is this correct?

[2019-06-26 20:42] amycoffin commented on #1077
As I mentioned in my comment, I for some reason don't have access to the Project Management project.

<img width="1013" alt="Screen Shot 2019-06-26 at 4 42 09 PM" src="https://user-images.githubusercontent.com/25374391/60213397-6a8dad00-9831-11e9-8435-e976f0bfcdfc.png">

[2019-06-26 21:18] zfisch commented on #1077
Ah, I see! GitHub just introduced a "Triage" permission level (still in beta) -- does it allow you to add it to the project management project now that I've updated your permissions?

[2019-06-26 22:59] amycoffin commented on #1077
@zfisch yep, that worked! Thanks!

[2019-07-02 16:19] amycoffin commented on #1074
Just to update this, we will no longer need to update the "This Site" page, because we will be linking to an updated "What is the BRCA Exchange?" item instead. Here is the google doc:https://docs.google.com/document/d/15ZFE-ViYvi8PCZUDMRQ63hiQ471PxG0yZ1tOEjD3r6g/edit

[2019-07-03 21:43] rcurrie opened #1078 "Literature Search Crawl 2019-06-27"
Literature search [results](http://public.gi.ucsc.edu/~rcurrie/literature-search/literature-2019-06-27.json) and associated [stats markdown file](http://public.gi.ucsc.edu/~rcurrie/literature-search/literature-stats-2019-06-27.md) as of 2019-06-27 are available. @zfisch upload when/if you have a break, not time critical. @maximilianh I'll repot back after the Elsevier blocking starts. @amycoffin T

[2019-07-16 18:44] amycoffin commented on #890
@zfisch I am not sure whether we are still using a blacklist of priors. I never really checked into things too much after Faisal did the refactoring.

[2019-07-20 02:26] melissacline commented on #199
At this point in time, BIC has a message on their home page pointing users to BRCA Exchange, and indicating that they are no longer actively taking submissions.

[2019-07-20 02:28] #749 closed

[2019-07-20 02:29] melissacline commented on #759
At this point, we are getting all of our ENIGMA variants from ClinVar.

[2019-07-20 02:29] #759 closed

[2019-07-23 16:55] #1067 closed

[2019-07-23 17:13] falquaddoomi commented on #1057
PR #1072 adds an endpoint that lists the VR rep (which includes Genomic_Coordinate_hg38) plus the variant's ID in our database, which might be enough to consider this issue addressed.

[2019-07-24 18:32] melissacline opened #1083 "gnomAD allele frequencies are not yet reflected in the Allele Frequency column"
Here is an example variant, http://brcaexchange-dev.gi.ucsc.edu:9003/variant/242491 a.k.a. chr17:g.43115727:T>G.  This variant has allele frequency data from gnomAD but no other repo, and its allele frequency column is blank.

[2019-07-24 18:39] zfisch commented on #1083
Ah! Nice catch, will try to get this sorted out today.

[2019-07-24 21:06] #1068 closed

[2019-07-25 02:58] melissacline opened #1084 "Missing variant from gnomAD"
Here is a strange case of a missing gnomAD variant, 17-41228120-T-C.  It appears in the gnomAD browser (https://gnomad.broadinstitute.org/variant/17-41228120-T-C?dataset=gnomad_r2_1_non_cancer), but not in BRCA Exchange.  This variant is in 1000 Genomes, which was absorbed into ExAC, which in turn was absorbed into gnomAD.  BRCA Exchange shows the 1000 Genomes variant (http://brcaexchange-dev.gi.u

[2019-07-26 18:08] zfisch commented on #1084
@melissacline

We're actually not getting anything regarding 17-41228120-T-C from our API query. Maybe this is an issue with the query or with GnomAD itself?

Also, could you clarify this point?

Do you mean the hgvsC values that GnomAD provides? We're actually using that value currently to construct the cDNA value and Genomic Coordinates we're storing in our database.

[2019-07-26 18:16] zfisch commented on #1084
If it's helpful, here's an example of the data we get for a given variant:

[code]

[2019-07-26 22:48] melissacline opened #1085 "Test donate button"

[2019-07-26 22:51] melissacline commented on #1085
The Donate URL is https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=780&cid=1749&dids=1004.  Test that a trial donation to this link actually ends up with funds deposited in the expected account.

[2019-07-29 01:06] melissacline commented on #1084
I'll be looking into this first thing on Monday morning...

[2019-07-29 20:17] melissacline commented on #1085
Entered a $20 donation on Saturday 7/27.  Waiting to see if there are any reports of that deposit into the right FOAPAL.

[2019-07-29 22:52] melissacline commented on #1085
Progress on the reporting front!
[Gmail - BRCA Exchange _ Online Giving _ Donate button 2.pdf](https://github.com/BRCAChallenge/brca-exchange/files/3444501/Gmail.-.BRCA.Exchange._.Online.Giving._.Donate.button.2.pdf)
[Gmail - BRCA Exchange _ Online Giving _ Donate button.pdf](https://github.com/BRCAChallenge/brca-exchange/files/3444502/Gmail.-.BRCA.Exchange._.Online.Giving._.Donate.button.pdf)

[2019-07-30 01:50] melissacline commented on #1084
Oh gosh, this is a mess!

This file contains data for the BRCA1 variants that both BRCA Exchange and gnomAD say are in gnomAD.  The BRCA Exchange data came from the dev sever, via the download link above the Variants table.  I extracted the rows for which Variant_in_GnomAD is 't' and Gene_Symbol is BRCA1.  From those rows, I extracted the Hg37_Start and HGVS_cDNA columns, and sorted them by hg37 s

[2019-07-30 02:47] melissacline opened #1086 "ClinVar variant with an HGVS coordinate that's off"
Reported by Michael Parsons:

I was looking at https://brcaexchange.org/variant/209107 and noticed this nomenclature doesn’t match the ClinVar entries that it is linked to. Essentially it is a reported deletion of full exon 3 in BRCA2 but the BE website has it offset by 3 bases (5’). Of note it did come up when I put in c.68_316del which is good but still confusing for users that won’t know c.68-3

[2019-07-31 23:45] melissacline commented on #1084
OK, I see what's going on.  The data that comes over the API has HGVS cDNA strings that are consistent with the ENSEMBL canonical transcript, not the transcript that's used in the other data for BRCA1.  So if you think of the mapping of HGVS cDNA strings to genomic position, the HGVS strings that we're currently getting from the API pertain to a different transcript, and wouldn't translate accurat

[2019-08-01 00:02] melissacline commented on #1084
@zfisch are you using the hgvs library to translate from hgvs cDNA strings in the  gnomAD API output?  If so, then you just need to specify a different reference sequence for BRCA1 during the translation.  Try ENST00000471181.7, and if that sequence isn't recognized by UTA, then NM_007300.3 should be recognized, and equivalent (I'm verifying that).

[2019-08-01 00:17] melissacline commented on #1084
Yes, those two sequences are equivalent.  So if UTA doesn't recognize the ENST* sequence, the NM_* sequence would be an accurate substitute.

[2019-08-01 00:29] melissacline commented on #1084
I've looked at the BRCA2 data, and it looks fine!  So once we've gotten past this one translation issue (which I'm thinking should be an easy fix, now that we know we need to make it), we should be in good shape!

[2019-08-01 01:00] zfisch commented on #1084
I'll jump back to this after I have the donation work ready for review and report what I find :)

[2019-08-06 16:53] falquaddoomi opened #1089 "Splicing pipeline failing due to biopython requiring newest numpy"
test-splicing-pipeline produces the following output when attempting to build the splicing pipeline Docker image:

[code]

I assume this is because biopython doesn't specify the numpy version to install, and numpy dropped support for Python < 3.5 in 1.17.

**Proposal:** add `numpy==1.16` to the beginning of pipeline/splicing/requirements.txt so that it's satisfied before biopython is installed.

[2019-08-06 17:43] amycoffin opened #1090 "Ctrl + F functionality doesn't work on Help pages"
When we implemented tile functionality on the home page, it made it so that Ctrl +F no longer works. We should implement a way for people to search the help pages.

[2019-08-06 17:44] amycoffin commented on #1090
One starting point is perhaps auto-expanding anything with sub-tiles, so at least titles of subtiles are able to be found using ctrl + F

[2019-08-06 17:59] amycoffin opened #1091 "Not every tile has a hash so that it can be hyperlinked"
use case is basically, "i need to send this set of docs to someone"; I wonder if it makes sense to display the hash in the web browser so that if someone wanted to send specific docs they could. Not sure if this is high priority, but it does come up.

[2019-08-06 22:01] #1074 closed

[2019-08-13 16:37] amycoffin opened #1095 "Community Pages display phone numbers"
I just wanted to bring it to our attention that some of the community members have phone numbers displayed, and I am not sure if this is intentional behavior.

[2019-08-13 19:32] amycoffin opened #1096 "Donation Drive: Beta Updates"
Hi Zack,

Alexis had a few notes on Beta:

- home page: How Does the BRCA Exchange Benefit Patients? >> Capitalize "does"
- Video produced by the [Global Alliance for Genomics and Health](https://www.ga4gh.org/) and the [Broad Institute](https://www.broadinstitute.org/) >> link to their web pages.
- home page: ClinGen logo needs to link to https://clinicalgenome.org/
- http://beta.brcaexchange.org